<div id="formulario" class="stdform stdform2">
    <p>
        <label>{lbl_puesto}: (*)</label>
        <span class="field"><input id="txt_puesto" type="text" name="txt_puesto" data-campo="txt_puesto" class="input-xlarge requerido" value="" /></span>
    </p>
    <p>
        <label>{lbl_clave_corta}: (*)</label>
        <span class="field"><input id="txt_clave_corta" type="text" name="txt_clave_corta" data-campo="txt_clave_corta" class="input-xlarge requerido" value="" /></span>
    </p>
    <p>
        <label>{lbl_descripcion}: </label>
        <span class="field"><textarea id="txt_descripcion" name="txt_descripcion" data-campo="txt_descripcion" class="span5" style="resize: vertical; height: 100px;"></textarea></span>
    </p>
    <div id="registro_loader" class="progress progress-striped"></div>
    <div id="mensajes" style="display:none"></div>
    <p class="stdformbutton">
        {button_save}
        {button_reset}
    </p>
</div>