<div id="formulario">
<div >
    <div style="float:left">
    <input id="id_compras_orden" type="hidden" data-campo="id_compras_orden" value="{id_compras_orden}" />
        <p>
            <label>{orden_num}: (*)</label>
            <input id="orden_num" type="text" data-campo="orden_num" class="input-large requerido" value="{orden_num_value}" />
        </p>
        <p>
            <label>{razon_social}: (*)</label>
            <input id="razon_social" type="text" data-campo="razon_social" class="input-large requerido" value="{razon_social_value}" />
        </p>
        

        <p>
            <label>{fecha_registro}:</label>
            <span id="timestamp" type="text" data-campo="timestamp" class="input-xlarge uneditable-input" >{timestamp}</span>
        </p>
        <p>
            <label>{registro_por}:</label>
            <span readonly id="usuario_registro" type="text" data-campo="usuario_registro" class="input-xlarge  uneditable-input " >{usuario_registro}</span>
        </p>
    </div>
    
</div>
<div style="clear:both">
    <p>
        <label>{descripcion}:</label>
        <textarea id="descripcion" data-campo="descripcion"  class="span5" style="resize: vertical; height: 100px;">{descripcion_value}</textarea>
    </p>
</div>
    <div id="update_loader"></div>
    <div id="mensajes_update" style="display:none"></div>
    {button_save}
</div>