<div id="formulario" class="stdform">
    <div id="tbl1" class="span6">
        <table width="100%" heigth="100%" border="0" class="table table-bordered table-invoice"> 
            <tr>
                <td class="width30">
                <input id="id_compras_orden" type="hidden" data-campo="id_compras_orden" value="{id_compras_orden}" />
                    <label><strong>{orden_num}:</strong></label>
                </td>
                <td>{orden_num_value}</td>
            </tr>
            <tr>
                <td class="width30">
                    <label><strong>{orden_tipo}:</strong></label>
                </td>
                <td>{list_orden_tipo}</td>
            </tr>
            <tbody  id="proveedores" {style}>
                <tr>
                    <td class="width30">
                        <!--<div id="proveedores" {style}>-->
                            <label><strong>{proveedor}:</strong></label>
                        <!--</div>-->
                    </td>
                    <td>{list_proveedores}</td>
                </tr>
            </tbody>
            <tr>
                <td class="width30">
                    <label><strong>{sucursal}:</strong></label>
                </td>
                <td>{list_sucursales}</td>
            </tr>
            <tr>
                <td class="width30">
                    <label><strong>{entrega_fecha}:</strong></label>
                </td>
                <td>{entrega_fecha_value}</td>
            </tr>
            <tr>
                <td class="width30">
                    <label><strong>{creditos}</strong></label>
                </td>
                <td>{list_creditos}</td>
            </tr>
        </table>
        <br>
        <br>
        <br>
   </div>
   <div class="span6">
       <table class="table table-bordered table-invoice">
            <tr>
                <td class="width30">
                    <label><strong>{orden_fecha}:</strong></label>
                </td>
                <td>{orden_fecha_value}</td>
            </tr>
            <tr>
                <td class="width30">
                    <label><strong>{descripcion}:</strong></label>
                </td>
                <td>{descripcion_value}</td>
            </tr>
            <tbody id="prefactura"  {style}>
                <tr>
                    <td class="width30">
                        <!--<div id="prefactura"  {style}>-->
                            <label><strong>{prefactura_num}:</strong></label>
                        <!--</div>-->
                    </td>
                    <td>{prefactura_num_value}</td>
                </tr>
            </tbody>
            <tr>
                <td class="width30">
                    <label><strong>{entrega_direccion}:</strong></label>
                </td>
                <td>{entrega_direccion_value}</td>
            </tr>
            <tr>
                <td class="width30">
                    <label><strong>{forma_pago}:</strong></label>
                </td>
                <td>{list_forma_pago}</td>
            </tr>
            <tr>
                <td class="width30">
                    <label><strong>{observaciones}:</strong></label>
                </td>
                <td>{observaciones_value}</td>
            </tr>
       </table>
   </div>
    <br>
    {list_arti}
    <div id="update_loader"></div>
    <div id="mensajes_update" style="display:none"></div>
    <table class="table table-bordered table-invoice-full" id="dyntable2" aria-describedby="dyntable2_info" style="margin-left: 0px; width: 100%; {style_table}">
    <colgroup>
                    <col class="con1 width5">
                    <col class="con1 width5">
                    <col class="con1 width5">
                    <col class="con1 width5">
                    <col class="con1 width5">
                    <col class="con1 width5">
                    <col class="con1 width5">
                    <col class="con1 width5">
                    <col class="con1 width5">
                    <col class="con1 width5">
                    <col class="con1 width5">
                    <col class="con1 width5">
                </colgroup>
        <tr>
            <th>{proveedor}</th>
            <th>{articulo}</th>
            <th>{clave_corta}</th>
            <th>{Costo}<br>{unitario}</th>
            <th>{cantidad}</th>
            <th>{costo_cantidad}</th>
            <th>{descuento}</th>
            <th>{subtotal}</th>
            <th>{imp}%</th>
            <th>{valor_imp}</th>
            <th>{total}</th>
            <th>{accion}</th>
        </tr>
        {table}
    </table>
    <div id="mensajes" style="display:none"></div>
    <p class="stdformbutton"> 
        {button_save}
    </p>
    <!--</div>-->
</div>