<div id="formulario">
    <table width="100%" heigth="100%" border="1">
        <tr>
            <td>
            <input id="id_compras_orden" type="hidden" data-campo="id_compras_orden" value="{id_compras_orden}" />
                <label>{orden_num}: (*)</label>
                <input id="orden_num" type="text" data-campo="orden_num" class="input-large requerido" value="{orden_num_value}" />
            </td>
        </tr>
        <tr>
            <td>
                <label>{razon_social}: (*)</label>
                {list_proveedores}
            </td>
        </tr>    
        <tr>
            <td>
                <label>{descripcion}:</label>
                <textarea id="descripcion" data-campo="descripcion"  class="span5" style="resize: vertical; height: 100px;">{descripcion_value}</textarea>
            </td>
        </tr>
        <tr>
            <td>
                <label>{sucursal}:</label>
                {list_sucursales}
            </td>
        </tr>
        <tr>
            <td>
                <label>{fecha_registro}:</label>
                <span id="timestamp" type="text" data-campo="timestamp" class="input-xlarge uneditable-input" >{timestamp}</span>
            </td>
        </tr>
        <tr>
            <td>
                <label>{registro_por}:</label>
                <span readonly id="usuario_registro" type="text" data-campo="usuario_registro" class="input-xlarge  uneditable-input " >{usuario_registro}</span>
            </td>
        </tr>
        <tr>
            <td>
                <div id="update_loader"></div>
                <div id="mensajes_update" style="display:none"></div>
                {button_save}
            </td>
        </tr>
    </table>
</div>