.DS_Store

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess

assets/js/system/inc.config.js
assets/cfg/codeigniter.cfg

assets/tmp/*