<script>
  jQuery(function() {
    jQuery( "#menus_ciclados" ).sortable();
    jQuery( "#menus_ciclados" ).disableSelection();
  });
</script>
<hr>
<div  class="stdform">
	<h1>{lbl_config_programacion}</h1>
	<hr>
		<a class="">{lbl_input_fecha_inicio}</a><br>
		<input id ="inicio" type="text" readonly="true" value="{inicio_value}" />
		<br>
		<a class="">{lbl_input_fecha_temrino}</a><br>
		<input id="fin" type="text" readonly="true" value="{fin_value}" />
	<hr>
		<h1>{lbl_dias_descartados}</h1>
	<hr>
		<a class=""></a><br>
		{lbl_dias_descartados}
	<hr>
		<a class="">{lbl_info_dias_descartados}</a><br>
		<input id ="festivos" type="text" readonly="true"/>
	<hr>
		<h1>{lbl_agregar_menus}</h1>
	<hr>
		<a >{lbl_info_agregar_menus}</a><br><br>
		{list_menus}
		<br>
	<hr>
		<h1>{lbl_orden_menus}</h1>
	<hr>
		<a >Coloca los menus en el orden que apareceran en el ciclo, para moverlos solo basta dar click sobre un menu y desplazalo al lugar que le corresponda</a><br><br>
		<center><div style="text-align:left;border:2px solid #ddd;width:30%;padding:20px;">{menus_ciclados}</div></center>
	<hr>
		<h1>Definir Cantidad de Recetas por Menu</h1>
	<hr>
		<a class="">Seleccióna un Menu de la lista para poder editar la cantidad de recetas que figuraran en el menu</a><br><br>
		{select_menus}
		<div id="cantidades_menu_receta"></div>
		<div id="loader_cantidades"></div>
	<hr>
	<hr>
		{btn_guardar_parametros}
		<div id="loader_ciclos"></div>
</div>
