<div id="form_entidad_save" class="stdform stdform2">
	<p>
		<label>{lbl_entidad}: (*)</label>
		<span class="field"><input type="text" id="txt_entidad" name="txt_entidad" data-campo="txt_entidad" class="input-xlarge requerido" value="" /></span>
	</p>
	<p>
		<label>{lbl_clave_corta}: (*)</label>
		<span class="field"><input type="text" id="txt_clave_corta" name="txt_clave_corta" data-campo="txt_clave_corta" class="input-xlarge requerido" value="" /></span>
	</p>
	<p>
		<label>{lbl_abreviatura}: (*)</label>
		<span class="field"><input type="text" id="txt_abreviatura" name="txt_abreviatura" data-campo="txt_abreviatura" class="input-xlarge requerido" value="" /></span>
	</p>
	<div id="registro_loader" class="progress progress-striped"></div>
    <div id="mensajes" style="display:none"></div>
    <p class="stdformbutton">
    	{button_save}
        {button_reset}
    </p>
</div>