
<div id="formulario" class="stdform">
    
    <input id="id_articulo" type="hidden" name="id_articulo" value="{id_articulo}" />
        <p>
            <label>{nombre_articulo}: (*)</label>
            <input id="articulo" type="text" name="articulo" class="input-large requerido" value="{articulo_value}" />
        </p>
        <p>
            <label>{cvl_corta}: (*)</label>
            <input id="clave_corta" type="text" name="clave_corta" class="input-large requerido" value="{cvl_value}" />
        </p>

        <p>
            <label>{marca}: (*)</label>
            {list_marca}
        </p>
        <p>
            <label>{presentacion}: (*)</label>
            {list_presentacion}
        </p>
        <p>
            <label>{linea}: (*)</label>
           {list_linea}
        </p>
        <p>
            <label>{um}: (*)</label>
            {list_um}
        </p>
        <p>
        <label>{descripcion}:</label>
        <textarea id="descripcion" name="descripcion"  class="span5 " style="resize: vertical; height: 100px;">{descripcion_value}</textarea>
    </p>
        <p>
            <label>{fecha_registro}:</label>
            <span id="timestamp" type="text" name="timestamp" class="input-xlarge uneditable-input" >{timestamp}</span>
        </p>
        <p>
            <label>{registro_por}:</label>
            <span readonly id="usuario_registro" type="text" name="usuario_registro" class="input-xlarge  uneditable-input " >{usuario_registro}</span>
        </p>
    
    

    <p>
            <label>{lbl_ultima_modificacion}: </label>
            <textarea id="ultima_modificacion" class="span5 textareaUneditable" style="resize: vertical; height: 100px;" readonly  >{val_ultima_modificacion}</textarea>
        </p>

    <div id="update_loader"></div>
    <div id="mensajes_update" style="display:none"></div>
    {button_save}
</div>