<div id="formulario" class="stdform">    
   <table class="table table-bordered">
        <tr>
            <th>
                {acciones}
            </th>
        </tr>
        <tr>
            <td>
                <div id="embajale">
                    <label><strong>{almacen_lbl} (*)</strong></label>
                    <span class="field">{lts_almacen}</span>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div id="embajale">
                <label><strong>{pasillo_lbl}</strong></label>
                <span class="field" id="lts_pasillo"></span>
            </div>
            </td>
        </tr>
        <tr>
            <td>
                <div id="embajale">
                <label><strong>{gaveta_lbl} (*)</strong></label>
                <span class="field" id="lts_gavetas"></span>
            </div>
            </td>
        </tr>
   </table>
    <br>
   <div id="lts_ajustes">
   </div>
    <br>
    <div id="tbl1" class="span5">
        <table  class="table table-bordered table-invoice"> 
            <tr>
                <td class="width30">
                    <label>{lblstock}:</label>
                </td >
                <td>
                    <div id="value_stock"><strong></strong>
                    </div>
                    <input type="hidden" id="stock_num" value="" data-campo="stock_num">

                </td>
            </tr>
            <tr>
                <td class="width30">
                    <label>{stock_um_lbl}:</label>
                </td>
                <td>
                    <div id="value_stock_um">
                        <strong></strong>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <label><strong>{stock_um_lbl}: </strong></label>
                </td>
                <td valign="middle">
                        <input type="text" id="stock_destino" name="stock_destino" data-campo="stock_destino" class="numerico requerido" onkeyup="realiza_calculos();" style="
                        width:90px;"> {unidad_minima_cve}
                        <input type="hidden" id="stock" value="" class="requerido" data-campo="stock">
                </td>
            </tr>
            <tr>
                <td>
                    <label><strong>{stock_um_lbl}: </strong></label>
                </td>
                 <td valign="middle">
                        <input type="text" id="stock_um_destino" name="stock_um_destino" data-campo="stock_um_destino" class="numerico requerido" style="width:90px;"> {unidad_minima_cve}
                </td>
            </tr>
        </table>
        <br><br>
   </div>
   <table class="table table-bordered">
        <tr>
            <th>
                {acciones}
            </th>
        </tr>
        <tr>
            <td>
                <div id="embajale">
                    <label><strong>{almacen_lbl} (*)</strong></label>
                    <span class="field">{lts_almacen_destino}</span>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div id="embajale">
                <label><strong>{pasillo_lbl}</strong></label>
                <span class="field" id="lts_pasillo_destino"></span>
            </div>
            </td>
        </tr>
        <tr>
            <td>
                <div id="embajale">
                <label><strong>{gaveta_lbl} (*)</strong></label>
                <span class="field" id="lts_gavetas_destino"></span>
            </div>
            </td>
        </tr>
   </table>
   <br><br><br><br><br><br>
    <div id="update_loader"></div>
    <div id="mensajes_update" style="display:none"></div>  
     <div
     <p class="stdformbutton"> 
        {button_save}
    </p>
    </div>
</div>
