<div id="formulario" class="stdform stdform2">
    <input id="id_articulo" type="hidden" name="id_articulo" value="{id_articulo}" />
    <p>
        <label>{nombre_articulo}: </label>
        <span class="field"><span id="articulo" type="text" name="articulo" class="input-xlarge uneditable-input">{articulo} </span></span>
    </p>
    <p>
        <label>{cantidad_sugerida}: </label>
        <span class="field"><input id="cant_sugerida" type="text" name="cant_sugerida" class="input-xlarge numerico" value="{cant_sugerida}" /></span>
    </p>
    <p>
        <label>{peso_bruto}:</label>
        <span class="field"><input id="p_bruto" type="text" name="p_bruto" class="input-xlarge numerico" value="{p_bruto}" /></span>
    </p>
    <p>
        <label>{peso_neto}: </label>
        <span class="field"><input id="p_neto" type="text" name="p_neto" class="input-xlarge numerico" value="{p_neto}" /></span>
    </p>
    <p>
        <label>{energia}:</label>
        <span class="field"><input id="ener" type="text" name="ener" class="input-xlarge numerico" value="{ener}" /></span>
    </p>           
    <p>
        <label>{proteina}: </label>
        <span class="field"><input id="prot" type="text" name="prot" class="input-xlarge numerico" value="{prot}" /></span>
    </p>
    <p>
        <label>{lipidos}: </label>
        <span class="field"><input id="lipids" type="text" name="lipids" class="input-xlarge numerico" value="{lipids}" /></span>
    </p>
    <p>
        <label>{hidratos_carbono}: </label>
        <span class="field"><input id="h_carbono" type="text" name="h_carbono" class="input-xlarge numerico" value="{h_carbono}" /></span>
    </p>
    <p>
        <label>{fibra}: </label>
        <span class="field"><input id="fib" type="text" name="fib" class="input-xlarge numerico" value="{fib}" /></span>
    </p>
    <p>
        <label>{vitamina_a}: </label>
        <span class="field"><input id="vit_a" type="text" name="fivit_ab" class="input-xlarge numerico" value="{vit_a}" /></span>
    </p>
    <p>
        <label>{acido_ascorbico}: </label>
        <span class="field"><input id="a_ascorbico" type="text" name="a_ascorbico" class="input-xlarge numerico" value="{a_ascorbico}" /></span>
    </p>
    <p>
        <label>{acido_folico}: </label>
        <span class="field"><input id="a_folico" type="text" name="a_folico" class="input-xlarge numerico" value="{a_folico}" /></span>
    </p>
    <p>
        <label>{hierro_nohem}: </label>
        <span class="field"><input id="h_nohem" type="text" name="h_nohem" class="input-xlarge numerico" value="{h_nohem}" /></span>
    </p>
    <p>
        <label>{potasio}: </label>
        <span class="field"><input id="pot" type="text" name="pot" class="input-xlarge numerico" value="{pot}" /></span>
    </p>
    <p>
        <label>{azucar}: </label>
        <span class="field"><input id="azu" type="text" name="azu" class="input-xlarge numerico" value="{azu}" /></span>
    </p>

    <p>
        <label>{indice_glicemico}: </label>
        <span class="field"><input id="i_glicemico" type="text" name="i_glicemico" class="input-xlarge numerico" value="{i_glicemico}" /></span>
    </p>
    <p>
        <label>{carga_glicemica}: </label>
        <span class="field"><input id="c_glicemica" type="text" name="c_glicemica" class="input-xlarge numerico" value="{c_glicemica}" /></span>
    </p
    <p>
        <label>{calcio}: </label>
        <span class="field"><input id="calc" type="text" name="calc" class="input-xlarge numerico" value="{calc}" /></span>
    </p>
    <p>
        <label>{sodio}: </label>
        <span class="field"><input id="sod" type="text" name="sod" class="input-xlarge numerico" value="{sod}" /></span>
    </p>
    <p>
        <label>{selenio}: </label>
        <span class="field"><input id="sel" type="text" name="sel" class="input-xlarge numerico" value="{sel}" /></span>
    </p>
    <p>
        <label>{fosforo}: </label>
        <span class="field"><input id="fos" type="text" name="fos" class="input-xlarge numerico" value="{fos}" /></span>
    </p>
    <p>
        <label>{colesterol}: </label>
        <span class="field"><input id="coles" type="text" name="coles" class="input-xlarge numerico" value="{coles}" /></span>
    </p>
    <p>
        <label>{ag_saturados}: </label>
        <span class="field"><input id="saturados" type="text" name="saturados" class="input-xlarge numerico" value="{saturados}" /></span>
    </p>
    <p>
        <label>{ag_mono}: </label>
        <span class="field"><input id="mono" type="text" name="mono" class="input-xlarge numerico" value="{mono}" /></span>
    </p>
    <p>
        <label>{ag_poli}: </label>
        <span class="field"><input id="poli" type="text" name="poli" class="input-xlarge numerico" value="{poli}" /></span>
    </p>
    <div id="update_loader"></div>
    <div id="mensajes_update" style="display:none"></div>
    <p class="stdformbutton"> 
       {button_save}
    </p>
</div>