<div id="formulario" class="stdform stdform2">
    <input id="id_articulo" type="hidden" name="id_articulo" data-campo="id_articulo" value="{id_articulo}" />
    <p>
        <label>{lbl_articulo}: </label>
        <span class="field"><input id="txt_articulo" type="text" name="txt_articulo" data-campo="txt_articulo" class="input-xlarge uneditable-input" value="{txt_articulo}" /></span>
    </p>
    <p>
        <label>{lbl_cantidad_sugerida}: </label>
        <span class="field"><input id="txt_cantidad_sugerida" type="text" name="txt_cantidad_sugerida" data-campo="txt_cantidad_sugerida" class="input-xlarge numerico" value="{txt_cantidad_sugerida}" /></span>
    </p>
    <p>
        <label>{lbl_peso_bruto}:</label>
        <span class="field"><input id="txt_peso_bruto" type="text" name="txt_peso_bruto" data-campo="txt_peso_bruto" class="input-xlarge numerico" value="{txt_peso_bruto}" /></span>
    </p>
    <p>
        <label>{lbl_peso_neto}: </label>
        <span class="field"><input id="txt_peso_neto" type="text" name="txt_peso_neto" data-campo="txt_peso_neto" class="input-xlarge numerico" value="{txt_peso_neto}" /></span>
    </p>
    <p>
        <label>{lbl_energia}:</label>
        <span class="field"><input id="txt_energia" type="text" name="txt_energia" data-campo="txt_energia" class="input-xlarge numerico" value="{txt_energia}" /></span>
    </p>           
    <p>
        <label>{lbl_proteina}: </label>
        <span class="field"><input id="txt_proteina" type="text" name="txt_proteina" data-campo="txt_proteina" class="input-xlarge numerico" value="{txt_proteina}" /></span>
    </p>
    <p>
        <label>{lbl_lipidos}: </label>
        <span class="field"><input id="txt_lipidos" type="text" name="txt_lipidos" data-campo="txt_lipidos" class="input-xlarge numerico" value="{txt_lipidos}" /></span>
    </p>
    <p>
        <label>{lbl_hidratos_carbono}: </label>
        <span class="field"><input id="txt_hidratos_carbono" type="text" name="txt_hidratos_carbono" data-campo="txt_hidratos_carbono" class="input-xlarge numerico" value="{txt_hidratos_carbono}" /></span>
    </p>
    <p>
        <label>{lbl_fibra}: </label>
        <span class="field"><input id="txt_fibra" type="text" name="txt_fibra" data-campo="txt_fibra" class="input-xlarge numerico" value="{txt_fibra}" /></span>
    </p>
    <p>
        <label>{lbl_vitamina_a}: </label>
        <span class="field"><input id="txt_vitamina_a" type="text" name="txt_vitamina_a" data-campo="txt_vitamina_a" class="input-xlarge numerico" value="{txt_vitamina_a}" /></span>
    </p>
    <p>
        <label>{lbl_acido_ascorbico}: </label>
        <span class="field"><input id="txt_acido_ascorbico" type="text" name="txt_acido_ascorbico" data-campo="txt_acido_ascorbico" class="input-xlarge numerico" value="{txt_acido_ascorbico}" /></span>
    </p>
    <p>
        <label>{lbl_acido_folico}: </label>
        <span class="field"><input id="txt_acido_folico" type="text" name="txt_acido_folico" data-campo="txt_acido_folico" class="input-xlarge numerico" value="{txt_acido_folico}" /></span>
    </p>
    <p>
        <label>{lbl_hierro_nohem}: </label>
        <span class="field"><input id="txt_hierro_nohem" type="text" name="txt_hierro_nohem" data-campo="txt_hierro_nohem" class="input-xlarge numerico" value="{txt_hierro_nohem}" /></span>
    </p>
    <p>
        <label>{lbl_potasio}: </label>
        <span class="field"><input id="txt_potasio" type="text" name="txt_potasio" data-campo="txt_potasio" class="input-xlarge numerico" value="{txt_potasio}" /></span>
    </p>
    <p>
        <label>{lbl_azucar}: </label>
        <span class="field"><input id="txt_azucar" type="text" name="txt_azucar" data-campo="txt_azucar" class="input-xlarge numerico" value="{txt_azucar}" /></span>
    </p>
    <p>
        <label>{lbl_indice_glicemico}: </label>
        <span class="field"><input id="txt_indice_glicemico" type="text" name="txt_indice_glicemico" data-campo="txt_indice_glicemico" class="input-xlarge numerico" value="{txt_indice_glicemico}" /></span>
    </p>
    <p>
        <label>{lbl_carga_glicemica}: </label>
        <span class="field"><input id="txt_carga_glicemica" type="text" name="txt_carga_glicemica" data-campo="txt_carga_glicemica" class="input-xlarge numerico" value="{txt_carga_glicemica}" /></span>
    </p>
    <p>
        <label>{lbl_calcio}: </label>
        <span class="field"><input id="txt_calcio" type="text" name="txt_calcio" data-campo="txt_calcio" class="input-xlarge numerico" value="{txt_calcio}" /></span>
    </p>
    <p>
        <label>{lbl_sodio}: </label>
        <span class="field"><input id="txt_sodio" type="text" name="txt_sodio" data-campo="txt_sodio" class="input-xlarge numerico" value="{txt_sodio}" /></span>
    </p>
    <p>
        <label>{lbl_selenio}: </label>
        <span class="field"><input id="txt_selenio" type="text" name="txt_selenio" data-campo="txt_selenio" class="input-xlarge numerico" value="{txt_selenio}" /></span>
    </p>
    <p>
        <label>{lbl_fosforo}: </label>
        <span class="field"><input id="txt_fosforo" type="text" name="txt_fosforo" data-campo="txt_fosforo" class="input-xlarge numerico" value="{txt_fosforo}" /></span>
    </p>
    <p>
        <label>{lbl_colesterol}: </label>
        <span class="field"><input id="txt_colesterol" type="text" name="txt_colesterol" data-campo="txt_colesterol" class="input-xlarge numerico" value="{txt_colesterol}" /></span>
    </p>
    <p>
        <label>{lbl_ag_saturados}: </label>
        <span class="field"><input id="txt_ag_saturados" type="text" name="txt_ag_saturados" data-campo="txt_ag_saturados" class="input-xlarge numerico" value="{txt_ag_saturados}" /></span>
    </p>
    <p>
        <label>{lbl_ag_mono}: </label>
        <span class="field"><input id="txt_ag_mono" type="text" name="txt_ag_mono" data-campo="txt_ag_mono" class="input-xlarge numerico" value="{txt_ag_mono}" /></span>
    </p>
    <p>
        <label>{lbl_ag_poli}: </label>
        <span class="field"><input id="txt_ag_poli" type="text" name="txt_ag_poli" data-campo="txt_ag_poli" class="input-xlarge numerico" value="{txt_ag_poli}" /></span>
    </p>
    <div id="update_loader" class="progress progress-striped"></div>
    <div id="mensajes_update" style="display:none"></div>
    <p class="stdformbutton"> 
       {button_save}
    </p>
</div>