<div id="formulario" class="stdform">
    <input id="id_articulo" type="hidden" name="id_articulo" value="{id_articulo}" />
    <p>
        <label>{nombre_articulo}: </label>
        <input id="articulo" type="text" name="articulo" class="input-xlarge uneditable-input" value="{articulo}" />
    </p>
    <p>
        <label>{cantidad_sugerida}: </label>
        <input id="cant_sugerida" type="number" name="cant_sugerida" class="input-xlarge " value="{cant_sugerida}" />
    </p>
    <p>
        <label>{peso_bruto}:</label>
        <input id="p_bruto" type="number" name="p_bruto" class="input-xlarge " value="{p_bruto}" />
    </p>
    <p>
        <label>{peso_neto}: </label>
        <input id="p_neto" type="number" name="p_neto" class="input-xlarge " value="{p_neto}" />
    </p>
    <p>
        <label>{energia}:</label>
        <input id="ener" type="number" name="ener" class="input-xlarge " value="{ener}" />
    </p>           
    <p>
        <label>{proteina}: </label>
        <input id="prot" type="number" name="prot" class="input-xlarge " value="{prot}" />
    </p>
    <p>
        <label>{lipidos}: </label>
        <input id="lipids" type="number" name="lipids" class="input-xlarge " value="{lipids}" />
    </p>
    <p>
        <label>{hidratos_carbono}: </label>
        <input id="h_carbono" type="number" name="h_carbono" class="input-xlarge " value="{h_carbono}" />
    </p>
    <p>
        <label>{fibra}: </label>
        <input id="fib" type="number" name="fib" class="input-xlarge " value="{fib}" />
    </p>
    <p>
        <label>{vitamina_a}: </label>
        <input id="vit_a" type="number" name="fivit_ab" class="input-xlarge " value="{vit_a}" />
    </p>
    <p>
        <label>{acido_ascorbico}: </label>
        <input id="a_ascorbico" type="number" name="a_ascorbico" class="input-xlarge " value="{a_ascorbico}" />
    </p>
    <p>
        <label>{acido_folico}: </label>
        <input id="a_folico" type="number" name="a_folico" class="input-xlarge " value="{a_folico}" />
    </p>
    <p>
        <label>{hierro_nohem}: </label>
        <input id="h_nohem" type="number" name="h_nohem" class="input-xlarge " value="{h_nohem}" />
    </p>
    <p>
        <label>{potasio}: </label>
        <input id="pot" type="number" name="pot" class="input-xlarge " value="{pot}" />
    </p>
    <p>
        <label>{azucar}: </label>
        <input id="azu" type="number" name="azu" class="input-xlarge " value="{azu}" />
    </p>

    <p>
        <label>{indice_glicemico}: </label>
        <input id="i_glicemico" type="number" name="i_glicemico" class="input-xlarge " value="{i_glicemico}" />
    </p>
    <p>
        <label>{carga_glicemica}: </label>
        <input id="c_glicemica" type="number" name="c_glicemica" class="input-xlarge " value="{c_glicemica}" />
    </p>
    <p>
        <label>{calcio}: </label>
        <input id="calc" type="number" name="calc" class="input-xlarge " value="{calc}" />
    </p>
    <p>
        <label>{sodio}: </label>
        <input id="sod" type="number" name="sod" class="input-xlarge " value="{sod}" />
    </p>
    <p>
        <label>{selenio}: </label>
        <input id="sel" type="number" name="sel" class="input-xlarge " value="{sel}" />
    </p>
    <p>
        <label>{fosforo}: </label>
        <input id="fos" type="number" name="fos" class="input-xlarge " value="{fos}" />
    </p>
    <p>
        <label>{colesterol}: </label>
        <input id="coles" type="number" name="coles" class="input-xlarge " value="{coles}" />
    </p>
    <p>
        <label>{ag_saturados}: </label>
        <input id="saturados" type="number" name="saturados" class="input-xlarge " value="{saturados}" />
    </p>
    <p>
        <label>{ag_mono}: </label>
        <input id="mono" type="number" name="mono" class="input-xlarge " value="{mono}" />
    </p>
    <p>
        <label>{ag_poli}: </label>
        <input id="poli" type="number" name="poli" class="input-xlarge " value="{poli}" />
    </p>
    <div id="update_loader"></div>
    <div id="mensajes_update" style="display:none"></div>
    <p class="stdformbutton"> 
       {button_save}
    </p>
</div>