
<!--pageheader-->
<!-- <div class="pageheader">
    <div class="pageicon"><span class="{icon}"></span></div>
    <div class="pagetitle">
    	<h5>{titulo_submodulo}</h5>
        <h1>{titulo_seccion}</h1>
	</div>
	<div id = "loader_content"></div>
</div> -->
<!--pageheader-->
	<!-- <div class="maincontainer">
        <div class="maincontentinner">{tabs} -->

            
           


 
      <div class="content-wrapper">
        
        <section class="content-header">
          <h1>
            {titulo_submodulo}
            <small>{titulo_seccion}</small>
          </h1>
          <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-home"></i>Inicio</a></li>
            
          </ol>
        </section>

        
        <section class="content">
        	<div class="callout callout-info">
            <h4>Tip!</h4>
            <p>Add the sidebar-collapse class to the body tag to get this layout. You should combine this option with a fixed layout if you have a long sidebar. Doing that will prevent your page content from getting stretched vertically.</p>
          </div>
          
          <div class="box">
            <div class="box-header with-border">
              <h3 class="box-title">Play IdeA!</h3>
              <div class="box-tools pull-right">
                <button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button>
              </div>
            </div>
            <div class="box-body">
              Bienvenido a Admin Control Play IdeA!
            </div>
            <div class="box-footer">
              designed by Play Web
            </div>
          </div>

        </section>
      </div>