
<!--pageheader-->
<div class="pageheader">
    <div class="pageicon"><span class="{icon}"></span></div>
    <div class="pagetitle">
    	<h5>{titulo_submodulo}</h5>
        <h1>{titulo_seccion}</h1>
	</div>
	<div id = "loader_content"></div>
</div>
<!--pageheader-->
<div class="maincontent">
	<div class="maincontentinner">
		<div class="widget">
            <h4 class="widgettitle">{empresa}</h4>
            <div class="widgetcontent">
            	<div class="stdform stdform2">	
	                <p>
	                    <label>{logotipo}</label>
	                    <span class="field"><img src="{imagen}"></span>
	                </p>
	                <p>
	                    <label>{razon_social}</label>
	                    <span class="field">{r_social}</span>
	                </p>
	                <p>
	                    <label>{r_f_c}</label>
	                    <span class="field">{rfc}</span>
	                </p>
	                <p>
	                    <label>{telefono}</label>
	                    <span class="field">{tel}</span>
	                </p>
	                <p>
	                    <label>{direccion}</label>
	                    <span class="field">{dir}</span>
	                </p>
            	</div>
			</div>
         </div>   
           
