<div id="formulario" class="stdform stdform2">
    <p>
        <label>{lbl_descuento}: (*)</label>
        <span class="field"><input id="txt_descuento" type="text" name="txt_descuento" data-campo="txt_descuento" class="input-xlarge requerido" value="" /></span>
    </p>
    <p>
        <label>{lbl_valor}: (*)</label>
        <span class="field"><input id="txt_valor" type="text" name="txt_valor" data-campo="txt_valor" class="input-xlarge requerido" value="" /></span>
    </p>
    <p>
        <label>{lbl_clave_corta}: (*)</label>
        <span class="field"><input id="txt_clave_corta" type="text" name="txt_clave_corta" data-campo="txt_clave_corta" class="input-xlarge requerido" value="" /></span>
    </p>
    <p>
        <label>{lbl_descuento}:</label>
        <span class="field"><textarea id="txt_descripcion" name="txt_descripcion" data-campo="txt_descripcion" class="span5" style="resize: vertical; height: 100px;"></textarea></span>
    </p>
    <div id="registro_loader" class="progress progress-striped" style="display:none;"></div>
    <div id="mensajes" style="display:none"></div>
    <p class="stdformbutton">
        {button_save}
        {button_reset}
    </p>
</div>