<div id="formulario" class="stdform">
    <div>
        <div style="float:left">
            <p>
                <label>{nombre_descuento}: (*)</label>
                <input id="descuento" type="text" name="descuento" class="input-xlarge requerido" value="" />
            </p>
            <p>
                <label>{valor}: (*)</label>
                <input id="valor_descuento" type="number" name="valor_descuento" class="input-xlarge requerido" value="" />
            </p>
            <p>
                <label>{cvl_corta}: (*)</label>
                <input id="clave_corta" type="text" name="clave_corta" class="input-xlarge requerido" value="" />
            </p>
        </div>
    </div>
    <div style="clear:both">
        <p>
            <label>{desc}:</label>
            <textarea id="descripcion" name="descripcion"  class="span5" style="resize: vertical; height: 100px;"></textarea>
        </p>
        <div id="registro_loader"></div>
        <div id="mensajes" style="display:none"></div>
     <p class="stdformbutton">
        {button_save}
        {button_reset}
    </p>

    </div>
</div>