<div id="formulario" class="stdform stdform2">
	<input id="id_area" type="hidden" name="id_personal" data-campo="id_personal" value="{id_personal}" />
	<p>
        <label>{lbl_perfiles}: (*)</label>
        <span class="field">{list_perfiles}</span>
    </p>

	<span class="field">
        <div id="treeview_perfiles">
            {tree_view}
        </div>
	</span>
    
    <div id="registro_loader"></div>
    <div id="mensajes" style="display:none"></div>    
    <p class="stdformbutton"> 
        {button_save}
    </p>
</div>