
<div id="formulario" class="stdform stdform2">
    <input id="id_usuario" type="hidden" name="id_usuario" value="{id_usuario}" />
    <p>
        <label>{lbl_nombre}: (*)</label>
        <span class="field"><input id="nombre" type="text" name="nombre" class="input-large requerido" value="" /></span>
    </p>
    <p>
        <label>{lbl_paterno}: (*)</label>
        <span class="field"><input id="paterno" type="text" name="paterno" class="input-large requerido" value="" /></span>
    </p>
    <p>
        <label>{lbl_materno}: (*)</label>
        <span class="field"><input id="materno" type="text" name="materno" class="input-large requerido" value="" /></span>
    </p>
    <p>
        <label>{lbl_telefono}:</label>
        <span class="field"><input id="telefono" type="text" name="telefono" class="input-large " value="" /></span>
    </p>
    <p>
        <label>{lbl_email}: (*)</label>
        <span class="field"><input id="mail" type="text" name="mail" class="input-large requerido" value="" /></span>
    </p>
    <p>
        <label>{lbl_area}: (*)</label>
        <span class="field">{dropdown_area}</span>
    </p>
    <p>
        <label>{lbl_puesto}: (*)</label>
        <span class="field">{dropdown_puesto}</span>
    </p>
    <p>
        <label>{lbl_perfil}: (*)</label>
        <span class="field">{dropdown_perfil}</span>
    </p>
     <span class="field"><div id="treeview_perfiles" style="display:none">
       {tree_view}
    </div></span>
    <br>
    <div id="registro_loader"></div>
    <div id="mensajes" style="display:none"></div>
    
    {button_save}
    {button_reset}
    
</div>

