<div class="stdform ">
    <p>
        <label>{lbl_nombre}: (*)</label>
        <input id="txt_nombre" type="text" name="txt_nombre" class="input-large requerido" value="{txt_nombre}" />
    </p>
    <p>
        <label>{lbl_paterno}: (*)</label>
        <input id="txt_paterno" type="text" name="txt_paterno" class="input-large requerido" value="{txt_paterno}" />
    </p>
    <p>
        <label>{lbl_materno}: (*)</label>
        <input id="txt_materno" type="text" name="txt_materno" class="input-large requerido" value="{txt_materno}" />
    </p>
    <p>
        <label>{lbl_telefono}: (*)</label>
        <input id="txt_telefono" type="text" name="txt_telefono" class="input-large requerido" value="{txt_telefono}" />
    </p>
    <p>
        <label>{lbl_email}:</label>
        <input id="txt_email" type="text" name="txt_email" class="input-large" value="{txt_email}" />
    </p>
    <p>
        <label>{lbl_area} (*)</label>
            {dropdown_area}
    </p>
    <p>
        <label>{lbl_puesto} (*)</label>
            {dropdown_puesto}
    </p>
    <p>
        <label>{lbl_usuario_registro}: </label>
        <span id="usuario_registro" type="text" data-campo="usuario_registro" class="input-xlarge uneditable-input" readonly >{val_usuarios_registro} </span>
    </p>
    <p>
        <label>{lbl_fecha_registro}:</label>
        <span id="fecha_registro" type="text" name="fecha_registro" class="input-xlarge uneditable-input" >{val_fecha_registro}</span>
    </p>           
    <p>
        <label>{lbl_ultima_modificacion}: </label>
        <textarea id="ultima_modifiacion" class=" span5 textareaUneditable" style="resize: vertical; height: 100px;  " readonly  >{val_ultima_modificacion}</textarea>
    </p>
    
    <div id="registro_loader"></div>
    <div id="mensajes" style="display:none"></div>    
    <p class="stdformbutton"> 
        {button_save}
        {button_reset}
    </p>
</div>