
<div class="stdform ">
    <input id="id_usuario" type="hidden" name="id_usuario" value="{id_usuario}" />
        <p>
            <label>{nombre}: (*)</label>
            <input id="nombre" type="text" name="nombre" class="input-large requerido" value="{nombre_val}" />
        </p>
        <p>
            <label>{paterno}: (*)</label>
            <input id="razon_social" type="text" name="razon_social" class="input-large requerido" value="{paterno_val}" />
        </p>
        <p>
            <label>{materno}: (*)</label>
            <input id="clave_corta" type="text" name="clave_corta" class="input-large requerido" value="{materno_val}" />
        </p>
        <p>
            <label>{perfil}: (*)</label>
            <input id="rfc" type="text" name="rfc" class="input-large requerido" value="{perfil_val}" />
        </p>
        <p>
            <label>{pais}:</label>
            <input id="calle" type="text" name="calle" class="input-large" value="{pais_val}" />
        </p>
        <p>
            <label>{registro}:</label>
            <input id="num_int" type="text" name="num_int" class="input-large"  readonly value="{registro_val}" />
        </p>
        <p>
            <label>{mail}:</label>
            <input id="num_ext" type="text" name="num_ext" class="input-large" value="{mail_val}" />
        </p>
        <p>
            <label>{telefono}:</label>
            <input id="colonia" type="text" name="colonia" class="input-large" value="{telefono_val}" />
        </p>
        <p>
             <label>{entidad} (*)</label>
                {dropdown_empresa}
        </p>
        <p>
             <label>{sucursal} (*)</label>
                {dropdown_sucursal}
        </p>
</div>
    <div id="update_loader"></div>
    <div id="mensajes_update" style="display:none"></div>
    {button_save}