<div id="form_pventa_cliente" class="stdform stdform2">
    <input id="id_punto_venta" type="hidden" name="id_punto_venta" data-campo="id_punto_venta" value="{id_punto_venta}" />
   
    <label></label>
    <span class="field">
    	<blockquote>
	    	<p>
	          	{instrucciones}
	        </p>
        </blockquote>        
    </span>
    
    <p>
    	<label>{lbl_punto_venta} (*)</label>
        <span class="field">{dropdown_punto_venta}</span>
    </p>
    <div id="update_loader" ></div>
    <div id="mensajes" style="display:none"></div>
    <p class="stdformbutton">
        {button_save}
    </p>
</div>