<div id="form_subrogacion_edit" class="stdform stdform2">
    <input id="id_subrogacion" type="hidden" name="id_subrogacion" data-campo="id_subrogacion" value="{id_subrogacion}" />
    <p>
        <label>{lbl_subrogacion}: (*)</label>
        <span class="field"><input id="txt_subrogacion" type="text" name="txt_subrogacion" data-campo="txt_subrogacion" class="input-xlarge requerido" value="{txt_subrogacion}" /></span>
    </p>
    <p>
        <label>{lbl_clave_corta}: (*)</label>
        <span class="field"><input id="txt_clave_corta" type="text" name="txt_clave_corta" data-campo="txt_clave_corta" class="input-xlarge requerido" value="{txt_clave_corta}" /></span>
    </p>
    <p>
        <label>{lbl_valor}: (*)</label>
        <span class="field"><input id="txt_valor" type="text" name="txt_valor" data-campo="txt_valor" class="input-xlarge requerido" value="{txt_valor}" /></span>
    </p>
    <p>
        <label>{lbl_descripcion}:</label>
        <span class="field"><textarea id="txt_descripcion" name="txt_descripcion" data-campo="txt_descripcion" class="span5" style="resize: vertical; height: 100px;">{txt_descripcion}</textarea></span>
    </p>
    <p>
        <label>{lbl_usuario_registro}: </label>
        <span class="field"><span id="usuario_registro" type="text" data-campo="usuario_registro" class="input-xlarge uneditable-input" readonly >{val_usuarios_registro} </span></span>
    </p>
    <p>
        <label>{lbl_fecha_registro}:</label>
        <span class="field"><span id="fecha_registro" type="text" name="fecha_registro" class="input-xlarge uneditable-input" >{val_fecha_registro}</span></span>
    </p>           
    <p>
        <label>{lbl_ultima_modificacion}: </label>
        <span class="field"><textarea id="ultima_modifiacion" class=" span5 textareaUneditable" style="resize: vertical; height: 100px;  " readonly  >{val_ultima_modificacion}</textarea></span>
    </p>
    <div id="update_loader" ></div>
    <div id="mensajes_update" style="display:none"></div>
    <p class="stdformbutton"> 
        {button_save}
    </p>
</div>
<!-- class="progress progress-striped" style="display:none;" -->