<div class="pageheader">
    <div class="pageicon"><span class="{icon}"></span></div>
    <div class="pagetitle">
        <h5>{titulo_modulo}</h5>
        <h1>{titulo_seccion}</h1>
    </div>
    <div id = "loader_content"></div>
</div>
<!--pageheader-->
    
<!--maincontent-->
<div class="maincontent">
    <div class="maincontentinner span6">
                <div class="invoice_logo">
                    <img style="cursor:pointer;max-width:110px;max-height:120px;" src="http://192.168.230.14/admincontrol_ci/assets/avatar/users/root.png" alt="" class="img-polaroid">
                </div>
                            <!--row-fluid-->
                <table class="table table-bordered table-invoice">
                    <tbody>
                        <tr>
                            <td class="width30">{lbl_nombre}: (*)</td>
                            <td class="width70">
                                <input value="{val_nombre}" type="text"  style="font-family: 'RobotoBold', 'Helvetica Neue', Helvetica, sans-serif;background-color: #fff;border: none;" data-campo="nombre" class="input-large requerido"/>
                            </td>
                        </tr>
                        <tr>
                            <td class="width30">{lbl_paterno}: (*)</td>
                            <td class="width70">
                                <input value="{val_paterno}" type="text"  style="font-family: 'RobotoBold', 'Helvetica Neue', Helvetica, sans-serif;background-color: #fff;border: none;" data-campo="paterno" class="input-large requerido"/>
                            </td>
                        </tr>
                        <tr>
                            <td class="width30">{lbl_materno}: (*)</td>
                            <td class="width70">
                                <input value="{val_materno}" type="text"  style="font-family: 'RobotoBold', 'Helvetica Neue', Helvetica, sans-serif;background-color: #fff;border: none;" data-campo="materno" class="input-large requerido"/>
                            </td>
                        </tr>
                        <tr>
                            <td class="width30">{lbl_email}: (*)</td>
                            <td class="width70">
                                <input value="{val_mail}" type="text"  style="font-family: 'RobotoBold', 'Helvetica Neue', Helvetica, sans-serif;background-color: #fff;border: none;" data-campo="mail" class="input-large requerido"/>
                            </td>
                        </tr>

                        <tr>
                            <td class="width30">{lbl_telefono}: (*)</td>
                            <td class="width70">
                                <input value="{val_telefono}" type="text"  style="font-family: 'RobotoBold', 'Helvetica Neue', Helvetica, sans-serif;background-color: #fff;border: none;" data-campo="telefono" class="input-large requerido"/>
                            </td>
                        </tr>
                        
                    </tbody>
                </table>