<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{site_title}</title>
        <link rel="shortcut icon"      href="{base_url}favicon.ico" />
        
        <link href="{base_url}assets/css/bootstrap.min.css" rel="stylesheet">

        <link rel="stylesheet"    href="{base_url}assets/fonts/css/font-awesome.min.css">
        <link rel="stylesheet"    href="{base_url}assets/css/animate.min.css">

        <!-- Custom styling plus plugins -->
        <link rel="stylesheet"    href="{base_url}assets/css/custom.css">
        <link rel="stylesheet"    href="{base_url}assets/css/icheck/flat/green.css">


        <script type="text/javascript" src="{base_url}assets/js/template/jquery.min.js"></script>
        <script type="text/javascript" src="{base_url}assets/js/system/inc.config.js"></script>
        <script type="text/javascript" src="{base_url}assets/js/system/global_system.js"></script>
        <script type="text/javascript" src="{base_url}assets/js/template/bootstrap.min.js"></script>
        <script type="text/javascript" src="{base_url}assets/js/template/custom.js"></script>



    </head>
    </head>
    <body class="nav-md">
        <div class="container body">

        <div class="main_container">

            <!-- page content -->
            <div class="col-md-12">
                <div class="col-middle">
                    <div class="text-center text-center">
                        <h1 class="error-number">404</h1>
                        <h2>Sorry but we couldnt find this page</h2>
                        <p>This page you are looking for does not exsist <a href="#">Report this?</a>
                        </p>
                        <div class="mid_center">
                            <h3>Search</h3>
                            <form>
                                <div class="col-xs-12 form-group pull-right top_search">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Search for...">
                                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">Go!</button>
                        </span>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /page content -->

        </div>
        <!-- footer content -->
    </div>
    </body>
</html>