<div id="formulario">

            <input id="id_perfil" type="hidden" name="id_perfil" value="{id_perfil}" />
            <p>
                <label>{nombre_perfil}: (*)</label>
                <input id="txt_perfil" type="text" name="txt_perfil" class="input-xlarge " value="{txt_perfil}" />
            </p>

        <p>
            <label>{desc}:</label>
            <textarea id="txt_descripcion" name="txt_descripcion"  class="span5" style="resize: vertical; height: 100px;">{txt_descripcion}</textarea>
        </p>
        <p>
            <label>{lbl_fecha_registro}: </label>
            <input id="fecha_registro" type="text" data-campo="fecha_registro" class="input-xlarge " readonly value="{val_fecha_registro}" />
        </p>           
        <p>
            <label>{lbl_usuario_registro}: </label>
            <input id="usuario_regitro" type="text" data-campo="usuario_regitro" class="input-xlarge " readonly value="{val_usuarios_registro}" />
        </p>
        <p>
            <label>{lbl_ultima_modificacion}: </label>
            <textarea id="ultima_modiciacion" class="span5" style="resize: vertical; height: 100px;" readonly  >{val_ultima_modificacion}</textarea>
        </p>
        {tree_view}
        <div id="update_loader"></div>
        <div id="mensajes_update" style="display:none"></div>

       {button_save}
 
</div>