<div id="formulario" class="stdform">
    <div >
        <div style="float:left">
            <input id="id_perfil" type="hidden" name="id_perfil" value="{id_perfil}" />
            <p>
                <label>{nombre_perfil}: (*)</label>
                <input id="perfil" type="text" name="perfil" class="input-xlarge requerido" value="{perfil}" />
            </p>
        </div>
        
    </div>
    <div style="clear:both">
        <p>
            <label>{desc}:</label>
            <textarea id="descripcion" name="descripcion"  class="span5" style="resize: vertical; height: 100px;">{descripcion}</textarea>
        </p>
        <p>
            <label>{lbl_fecha_registro}: </label>
            <input id="fecha_registro" type="text" data-campo="fecha_registro" class="input-xlarge " readonly value="{val_fecha_registro}" />
        </p>           
        <p>
            <label>{lbl_usuario_registro}: </label>
            <input id="usuario_regitro" type="text" data-campo="usuario_regitro" class="input-xlarge " readonly value="{val_usuarios_registro}" />
        </p>
        <p>
            <label>{lbl_ultima_modificacion}: </label>
            <textarea id="ultima_modiciacion" class="span5" style="resize: vertical; height: 100px;" readonly  >{val_ultima_modificacion}</textarea>
        </p>
        {tree_view}
        <div id="update_loader"></div>
        <div id="mensajes_update" style="display:none"></div>
    <p class="stdformbutton"> 
       {button_save}
    </p>
    </div>
</div>