
<div id="formulario" class="stdform stdform2">
	<p>
        <label>{lbl_tipo_insert}</label>
        <span class="field">
        	<span><input type="radio" id="auto"  name="tipo" value="auto" checked="checked"></span>
        	{lbl_auto} 
        	<span><input type="radio" id="manual"  name="tipo" value="manual" ></span>
        	{lbl_manual}
        </span>
    </p>
    <p>
		<label>{lbl_cantidad_ciclo} (*)</label>
		<span class="field">
			<input id="txt_cantidad_ciclo" type="text" name="txt_cantidad_ciclo" class="input-small requerido" value="" />
		</span>
	</p>
	<p>
		<label>{lbl_nombre_ciclo} (*)</label>
		<span class="field">
			<input id="txt_ciclo" type="text" name="txt_ciclo" class="input-xlarge requerido" value="" />
		</span>
	</p>
	<p>
		<label>{lbl_clave_corta} (*)</label>
		<span class="field">
			<input id="txt_clave_corta" type="text" name="txt_clave_corta" class="input-xlarge requerido" value="" />
		</span>
	</p>
	<p>
		<label>{lbl_sucursal} (*)</label>
		<span class="field">
			{list_sucursales} 
		</span>
	</p>
	<span class="field">
		{btn_save}
		{btn_reset}
	</span>
</div>

