<!-- <div id="formularios" >
	<div class="span5">
				<table  class="table table-bordered table-invoice"> 
            <tr>
                <td class="width30">
                algo
                </td>
                </tr>
                </table>
	</div>
</div> -->
<div id="formularios" class="stdform">
    <div id="tbl1" class="span5" >
        <p>
			<label>{lbl_sucursal} (*)</label>
			<span class="field">
				{list_sucursales} 
			</span>
		</p>
		<p>
			<label>{lbl_ciclos} (*)</label>
			<span id="ciclo" class="field">
				{list_ciclos}
			</span>
		</p> 
		<p>
			<label>{lbl_servicios} (*)</label>
			<span  id="servicio" class="field">
				{list_servicios}
			</span>
		</p>
		<p>
			<label>{lbl_tiempos} (*)</label>
			<span class="field">
				{list_tiempos}
			</span>
		</p>
		<p>
			<label>{lbl_familias} (*)</label>
			<span class="field">
				{list_familias}
			</span>
		</p>
		<p>
	        <label>{lbl_asignar_recetas}: </label>
	    	<span id="lts_recetas" class="field">
	    		{multiselect_recetas}
	            <span id="loader_editar_porciones_insert"></span>
	    	</span>
	    </p>
	    <div id="registro_loader"></div>
	    <div id="mensajes" style="display:none"></div>
		<span class="field">
			{btn_save}
			{btn_reset}
		</span>
		
   </div>
   <div class="span5">
	    <p>
			<div id="ciclo_detalle"></div>
		</p>
   </div>

    <div id="update_loader"></div>
    <div id="mensajes_update" style="display:none"></div>
    
</div>