<div id="formulario" class="stdform stdform2">
	<p>
		<label>{lbl_sucursal} (*)</label>
		<span class="field">
			{list_sucursales} 
		</span>
	</p>
	<p id="ciclo">
		<label>{lbl_ciclos} (*)</label>
		<span class="field">
			{list_ciclos}
		</span>
	</p>
	<p>
		<label>{lbl_servicios} (*)</label>
		<span class="field">
			{list_servicios}
		</span>
	</p>
	<p>
		<label>{lbl_tiempos} (*)</label>
		<span class="field">
			{list_tiempos}
		</span>
	</p>
	<span class="field">
		{btn_save}
		{btn_reset}
	</span>
</div>

