/*Iconos-Acciones-Grid*/
.ico_acciones{
	font-size: 1.1em;
	font-weight: lighter;
}
.ico_detalle{
	cursor: pointer;
	color:blue;
}
.ico_articulos{
	cursor: pointer;
	color:green;
}
.ico_eliminar{
	cursor: pointer;
	color:red;
}
.ico_imprimir{
	cursor: pointer;
	color: black;
}
.stdform .formwrapper{
	padding-top: 0px;
	margin-left: 0px;
}

.ico_blanco{color: white;}

.btn_rojo{
	background-color:#9D0000; 
	border-color:#9D0000;
}

.btn_verde{
	background-color:#006F00; 
	border-color:#006F00;
}
/*---*/