
.scrollToTop{
  width:8%; 
  height:10%;
  min-width: 3%;
  /*border: 3px solid #333;*/
  text-align:center; 
  background: whiteSmoke;
  position:fixed;
  bottom:8px;
  right:20px;
  display:none;
  background:url(../img/turquoise.png) no-repeat center;
  background-size: 88%;
  max-width: 80px;
  overflow: hidden;
  /*Transparencia*/
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: alpha(opacity=70);
  -moz-opacity:0.7;
  -khtml-opacity: 0.7;
  opacity: 0.7;
}
.fc-state-highlight { /* <td> today cell */ /* TODO: add .fc-today to <th> */
  background: #0096d2;
}
.progress{
  background-color: #0096d2;
}
.fc-event {
  border: 1px solid #002C3E;
  background-color: #002C3E; 
}
.treeview .hover { color: #0096d2; cursor: pointer; }
/* login */
.inputwrapper button { background: #0096d2; border-color: #0c57a3; }
.inputwrapper button:hover { background: #0972dd; border-color: #0c57a3; }

/* Timepicker*/
.ui-datepicker-today a, .ui-datepicker-today a:hover, .ui-datepicker .ui-state-highlight{
  background: #0096d2 !important;
}
.ui-datepicker{
  border: 5px solid #0096d2;
}
.smart-forms .ui-slider .ui-slider-handle{
  border: 3px solid #0096d2;
}
.ui-datepicker:before{
  border-color: rgba(255,255,255,0) rgba(255,255,255,0) #0096d2 rgba(255,255,255,0);
}

/* background */
.chzn-container-multi .chzn-choices .search-choice{
  background-color: #0096d2;
  color: #fff;
  opacity: 0.8;
}
body.loginpage,
.ui-datepicker-title,
.ui-timepicker-div .ui-widget-header, .ui-datepicker .ui-datepicker-header,
.smart-forms .ui-slider .ui-slider-handle:before,
.header,
.leftmenu .nav-tabs.nav-stacked > li.active > a,
.leftmenu .nav-tabs.nav-stacked > li.active > a:hover,
.shortcuts li a,
.widgettitle,
.mediamgr .mediamgr_rightinner h4,
.messagemenu,
.msglist li.selected,
.wizard .hormenu li a.done,
.wizard .hormenu li a.selected,
.actionBar a:hover,
.actionBar a:hover,
.wizard .tabbedmenu,
.nav-tabs > .active > a:focus,
.tabbable > .nav-tabs,
.btn-primary, .btn-primary:link,
.nav-tabs > li > a:hover, .nav-tabs > li > a:focus,
.nav-pills > .active > a,
.nav-pills > .active > a:hover,
.nav-pills > .active > a:focus,
.tabs-right .nav-tabs,
.tabs-right > .nav-tabs > li > a,
.tabs-left .nav-tabs,
.tabs-left > .nav-tabs > li > a,
.progress-primary .bar,
.tab-primary.ui-tabs .ui-tabs-nav,
.ui-datepicker-calendar td.ui-datepicker-today a,
.nav-tabs > .active > a,
.nav-tabs > .active > a:hover,
.nav-tabs > .active > a:focus,
.nav-list > .active > a,
.nav-list > .active > a:hover,
.nav-list > .active > a:focus,
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled],
.btn-group.open .btn-primary.dropdown-toggle,
.fc-widget-header,
.fc-widget-header.fc-agenda-gutter.fc-last,
.chzn-container .chzn-results .highlighted 
{ background-color: #0096d2; }



/* color */

a,a:hover,a:link,a:active,a:focus,
.pageicon,
.pagetitle h1,
.userlist li .uinfo h5,
.messagemenu ul li.active a,
.msglist li h4,
.actionBar a,
.actionBar a.buttonDisabled,
.wizard .tabbedmenu li a.selected,
.wizard .tabbedmenu li a.done,
.tabbable > .nav-tabs > li.active > a,
.btn-circle.btn-primary, .btn-circle.btn-primary:hover, .btn-circle.btn-primary:focus,
.btn-circle.btn-primary:active, .btn-circle.btn-primary.active, 
.btn-circle.btn-primary.disabled, .btn-circle.btn-primary[disabled],
.tabs-right > .nav-tabs .active > a,
.tabs-right > .nav-tabs .active > a:hover,
.tabs-right > .nav-tabs .active > a:focus,
.tabs-left > .nav-tabs .active > a,
.tabs-left > .nav-tabs .active > a:hover,
.tabs-left > .nav-tabs .active > a:focus
{ color: #0096d2; }


/* border color */

.headmenu .dropdown-menu,
.pageicon,
.widgetcontent,
.messagemenu ul li.active,
.messageleft,
.messageright,
.messagesearch,
.msgreply,
.wizard .hormenu li a,
.wizard .hormenu li:first-child a,
.stepContainer,
.actionBar,
.actionBar a,
.actionBar a.buttonDisabled,
.tabbable > .nav-tabs,
.tabbable > .tab-content,
.nav-tabs.nav-stacked > li > a:focus,
.btn-circle.btn-primary, .btn-circle.btn-primary:hover, .btn-circle.btn-primary:focus,
.btn-circle.btn-primary:active, .btn-circle.btn-primary.active, 
.btn-circle.btn-primary.disabled, .btn-circle.btn-primary[disabled],
.nav-tabs,
.nav-tabs > li > a:hover, .nav-tabs > li > a:focus,
.tabs-below .tab-content,
.tabs-below > .nav-tabs > li.active > a,
.tabs-right,
.tabs-left,
.tab-primary.ui-tabs,
.btn-primary, .btn-primary:link,
.nav-tabs.nav-stacked > li > a,
.nav-tabs.nav-stacked > li > a:hover,
.nav-tabs.nav-stacked > li > a:hover,
.nav-tabs.nav-stacked > li > a:focus,
.nav-tabs > .active > a,
.nav-tabs > .active > a:hover,
.nav-tabs > .active > a:focus
{ border-color: #0096d2; }


/* extras */

.tabs-below > .nav-tabs > li.active > a { border-bottom: 1px solid #0096d2 !important; }
.nav-list > li > a { color: #666; }
.tabs-left > .nav-tabs > li,
.tabs-right > .nav-tabs > li { border-color: rgba(255,255,255,0.2); }
.leftmenu .nav-tabs.nav-stacked > li > a { border-color: #232323 !important; }
.leftmenu .nav-tabs.nav-stacked > li.active > a { border-color: rgba(0,0,0,0.1) !important; }

/* ie fix */

.no-rgba .headmenu > li { border-right: 1px solid #6ec554; }
.no-rgba .headmenu > li:first-child { border-left: 1px solid #6ec554; }


@media screen and (max-width: 480px) {
 
 .userloggedinfo ul li a:hover { background-color: #0096d2; }
 
  .userloggedinfo .userinfo,
  .wizard .hormenu li,
  .messageright { border-color: #0096d2; }

}



