<div id="formulario" class="stdform">
    <div >
        <div style="float:left">
            <input id="id_area" type="hidden" name="id_area" value="{id_area}" />
            <p>
                <label>{nombre_area}: (*)</label>
                <input id="area" type="text" name="area" class="input-xlarge requerido" value="{area}" />
            </p>
            <p>
                <label>{cvl_corta}: (*)</label>
                <input id="clave_corta" type="text" name="clave_corta" class="input-xlarge requerido" value="{clave_corta}" />
            </p>
        </div>
        
    </div>
    <div style="clear:both">
        <p>
            <label>{desc}:</label>
            <textarea id="descripcion" name="descripcion"  class="span5" style="resize: vertical; height: 100px;">{descripcion}</textarea>
        </p>
        <p>
            <label>{lbl_fecha_registro}:</label>
            <span id="fecha_registro" type="text" name="fecha_registro" class="input-xlarge uneditable-input" >{val_fecha_registro}</span>
        </p>           
        <p>
            <label>{lbl_ultima_modificacion}: </label>
            <textarea id="ultima_modifiacion" class="span5 textareaUneditable" style="resize: vertical; height: 100px;  " readonly  >{val_ultima_modificacion}</textarea>
        </p>
        <div id="update_loader"></div>
        <div id="mensajes_update" style="display:none"></div>
    <p class="stdformbutton"> 
       {button_save}
    </p>
    </div>
</div>