<div id="formulario" class="stdform ">
    <input id="id_tiempo" type="hidden" name="id_tiempo" value="{id_tiempo}" />
    <p>
        <label>{lbl_tiempo}: (*)</label>
        <input id="txt_tiempo" type="text" name="txt_tiempo" class="input-xlarge requerido" value="{txt_tiempo}" />
        
    </p>
    <p>
        <label>{lbl_clave_corta}: (*)</label>
        <input id="txt_clave_corta" type="text" name="txt_clave_corta" class="input-xlarge requerido" value="{txt_clave_corta}" />
    </p>
    <p>
        <label>{lbl_descripcion}:</label>
        <textarea id="txt_descripcion" name="txt_descripcion"  class="span5" style="resize: vertical; height: 100px;">{txt_descripcion}</textarea>
    </p>
    <p>
        <label>{lbl_fecha_registro}: </label>
        <span id="fecha_registro" type="text" data-campo="fecha_registro" class="input-xlarge uneditable-input" readonly >{val_fecha_registro} </span>
    </p>           
    <p>
        <label>{lbl_usuario_registro}: </label>
        <span id="usuario_regitro" type="text" data-campo="usuario_regitro" class="input-xlarge uneditable-input" readonly >{val_usuarios_registro}</span>
    </p>
    <p>
        <label>{lbl_ultima_modificacion}: </label>
        <textarea id="ultima_modificacion" class="span5 textareaUneditable" style="resize: vertical; height: 100px;" readonly  >{val_ultima_modificacion}</textarea>
    </p>
    <div id="update_loader"></div>
    <div id="mensajes_update" style="display:none"></div>
    <p class="stdformbutton"> 
       {button_save}
    </p>
   
</div>
