
<div >
    <div style="float:left">
        <p>
            <label>{lbl_rsocial}: (*)</label>
            <input id="articulo" type="text" name="articulo" class="input-large requerido" value="" />
        </p>
        <p>
            <label>{lbl_nombre}: (*)</label>
            <input id="clave_corta" type="text" name="clave_corta" class="input-large requerido" value="" />
        </p>

        <p>
            <label>{lbl_clv}: (*)</label>
            <input id="clave_corta" type="text" name="clave_corta" class="input-large requerido" value="" />
        </p>
        <p>
            <label>{lbl_rfc}: (*)</label>
            <input id="clave_corta" type="text" name="clave_corta" class="input-large requerido" value="" />
        </p>
        <p>
            <label>{lbl_calle}: (*)</label>
           <input id="clave_corta" type="text" name="clave_corta" class="input-large requerido" value="" />
        </p>
        <p>
            <label>{lbl_num_int}: (*)</label>
            <input id="clave_corta" type="text" name="clave_corta" class="input-large requerido" value="" />
        </p>

        <p>
            <label>{lbl_num_ext}: (*)</label>
            <input id="clave_corta" type="text" name="clave_corta" class="input-large requerido" value="" />
        </p>
        <p>
            <label>{lbl_colonia}: (*)</label>
            <input id="clave_corta" type="text" name="clave_corta" class="input-large requerido" value="" />
        </p>
        <p>
            <label>{lbl_municipio}: (*)</label>
            <input id="clave_corta" type="text" name="clave_corta" class="input-large requerido" value="" />
        </p>
        <p>
            <label>{lbl_entidad}: (*)</label>
            <input id="clave_corta" type="text" name="clave_corta" class="input-large requerido" value="" />
        </p>
        <p>
            <label>{lbl_cp}: (*)</label>
            <input id="clave_corta" type="text" name="clave_corta" class="input-large requerido" value="" />
        </p>

        <p>
            <label>{lbl_telefonos}: (*)</label>
            <input id="clave_corta" type="text" name="clave_corta" class="input-large requerido" value="" />
        </p>
        <p>
            <label>{lbl_email}: (*)</label>
            <input id="clave_corta" type="text" name="clave_corta" class="input-large requerido" value="" />
        </p>
        <p>
            <label>{lbl_contacto}: (*)</label>
            <input id="clave_corta" type="text" name="clave_corta" class="input-large requerido" value="" />
        </p>
        <p>
            <label>{lbl_comentario}: (*)</label>
            <input id="clave_corta" type="text" name="clave_corta" class="input-large requerido" value="" />
        </p>

    </div>
    
</div>
<div style="clear:both">
    <p>
        <label>{descripcion}:</label>
        <textarea id="descripcion" name="descripcion"  class="span5" style="resize: vertical; height: 100px;"></textarea>
    </p>
</div>
    <div id="registro_loader"></div>
    <div id="mensajes" style="display:none"></div>    
    {button_save}
    {button_reset}
