#######################################################################
## ARCHIVO DE VARIABLES GENERALES DEL SISTEMA - EDITAR CON PRECAUCIÓN
##
## MODELO DE BASE DE DATOS
##
## TYPE|NAME=VALUE
## O3M
###

###################
### 00_av_system
###################
#DB

db|db1= 					playwebn_pi_system

#Tablas
db|db1_tbl_claves=			sys_claves
db|db1_tbl_empresas=		sys_empresas
db|db1_tbl_modulos=			sys_modulos
db|db1_tbl_paises=			sys_paises
db|db1_tbl_perfiles=		sys_perfiles
db|db1_tbl_personales=		sys_personales
db|db1_tbl_secciones=		sys_secciones
db|db1_tbl_submodulos=		sys_submodulos
db|db1_tbl_sucursales=		sys_sucursales
db|db1_tbl_usuarios=		sys_usuarios
db|db1_tbl_menu_n1=			sys_menu_n1
db|db1_tbl_menu_n2=			sys_menu_n2
db|db1_tbl_menu_n3=			sys_menu_n3

#Vistas
db|db1_vw_personal=			vw_personal

# Copy & Paste
# $this->db1 = $this->vars->db['db1'];
# $this->tbl['claves'] = $this->db1.'.'.$this->vars->db['db1_tbl_claves']; 
# $this->tbl['empresas'] = $this->db1.'.'.$this->vars->db['db1_tbl_empresas']; 
# $this->tbl['modulos'] = $this->db1.'.'.$this->vars->db['db1_tbl_modulos']; 
# $this->tbl['paises'] = $this->db1.'.'.$this->vars->db['db1_tbl_paises']; 
# $this->tbl['perfiles'] = $this->db1.'.'.$this->vars->db['db1_tbl_perfiles']; 
# $this->tbl['personales'] = $this->db1.'.'.$this->vars->db['db1_tbl_personales']; 
# $this->tbl['secciones'] = $this->db1.'.'.$this->vars->db['db1_tbl_secciones']; 
# $this->tbl['submodulos'] = $this->db1.'.'.$this->vars->db['db1_tbl_submodulos']; 
# $this->tbl['sucursales'] = $this->db1.'.'.$this->vars->db['db1_tbl_sucursales']; 
# $this->tbl['usuarios'] = $this->db1.'.'.$this->vars->db['db1_tbl_usuarios']; 
# $this->tbl['menu1'] = $this->db1.'.'.$this->vars->db['db1_tbl_menu_n1']; 
# $this->tbl['menu2'] = $this->db1.'.'.$this->vars->db['db1_tbl_menu_n2']; 
# $this->tbl['menu3'] = $this->db1.'.'.$this->vars->db['db1_tbl_menu_n3']; 
# $this->tbl['vw_personal'] = $this->db1.'.'.$this->vars->db['db1_vw_personal']; 

###################
### playwebn_pi
###################
#DB

db|db2=											playwebn_pi

#Tablas
db|db2_tbl_catalogos_conectores=				pi_catalogos_conectores


# Copy & Paste
# $this->db2 = $this->vars->db['db2'];
# $this->tbl['administracion_areas'] = $this->db2.'.'.$this->vars->db['db2_tbl_administracion_areas'];
# $this->tbl['administracion_creditos'] = $this->db2.'.'.$this->vars->db['db2_tbl_administracion_creditos'];
# $this->tbl['administracion_descuentos'] = $this->db2.'.'.$this->vars->db['db2_tbl_administracion_descuentos'];
# $this->tbl['administracion_entidad_region'] = $this->db2.'.'.$this->vars->db['db2_tbl_administracion_entidad_region'];
# $this->tbl['administracion_entidades'] = $this->db2.'.'.$this->vars->db['db2_tbl_administracion_entidades'];
# $this->tbl['administracion_forma_pago'] = $this->db2.'.'.$this->vars->db['db2_tbl_administracion_forma_pago'];
# $this->tbl['administracion_impuestos'] = $this->db2.'.'.$this->vars->db['db2_tbl_administracion_impuestos'];
# $this->tbl['administracion_puestos'] = $this->db2.'.'.$this->vars->db['db2_tbl_administracion_puestos'];
# $this->tbl['administracion_regiones'] = $this->db2.'.'.$this->vars->db['db2_tbl_administracion_regiones'];
# $this->tbl['administracion_variables'] = $this->db2.'.'.$this->vars->db['db2_tbl_administracion_variables'];
# $this->tbl['almacen_almacenes'] = $this->db2.'.'.$this->vars->db['db2_tbl_almacen_almacenes'];
# $this->tbl['almacen_entradas_recibir'] = $this->db2.'.'.$this->vars->db['db2_tbl_almacen_entradas_recibir'];
# $this->tbl['almacen_entradas_partidas'] = $this->db2.'.'.$this->vars->db['db2_tbl_almacen_entradas_partidas'];
# $this->tbl['almacen_gavetas'] = $this->db2.'.'.$this->vars->db['db2_tbl_almacen_gavetas'];
# $this->tbl['almacen_pasillos'] = $this->db2.'.'.$this->vars->db['db2_tbl_almacen_pasillos'];
# $this->tbl['almacen_tipos'] = $this->db2.'.'.$this->vars->db['db2_tbl_almacen_tipos'];
# $this->tbl['almacen_transportes'] = $this->db2.'.'.$this->vars->db['db2_tbl_almacen_transportes'];
# $this->tbl['compras_articulos'] = $this->db2.'.'.$this->vars->db['db2_tbl_compras_articulos'];
# $this->tbl['compras_articulos_precios'] = $this->db2.'.'.$this->vars->db['db2_tbl_compras_articulos_precios'];
# $this->tbl['compras_lineas'] = $this->db2.'.'.$this->vars->db['db2_tbl_compras_lineas'];
# $this->tbl['compras_marcas'] = $this->db2.'.'.$this->vars->db['db2_tbl_compras_marcas'];
# $this->tbl['compras_ordenes_tipo'] = $this->db2.'.'.$this->vars->db['db2_tbl_compras_ordenes_tipo'];
# $this->tbl['compras_ordenes'] = $this->db2.'.'.$this->vars->db['db2_tbl_compras_ordenes'];
# $this->tbl['compras_ordenes_articulos'] = $this->db2.'.'.$this->vars->db['db2_tbl_compras_ordenes_articulos'];
# $this->tbl['compras_ordenes_estatus'] = $this->db2.'.'.$this->vars->db['db2_tbl_compras_ordenes_estatus'];
# $this->tbl['compras_presentaciones'] = $this->db2.'.'.$this->vars->db['db2_tbl_compras_presentaciones'];
# $this->tbl['compras_proveedores'] = $this->db2.'.'.$this->vars->db['db2_tbl_compras_proveedores'];
# $this->tbl['compras_proveedores_articulos'] = $this->db2.'.'.$this->vars->db['db2_tbl_compras_proveedores_articulos'];
# $this->tbl['compras_um'] = $this->db2.'.'.$this->vars->db['db2_tbl_compras_um'];
# $this->tbl['compras_embalaje'] = $this->db2.'.'.$this->vars->db['db2_tbl_compras_embalaje'];
# $this->tbl['nutricion_familias'] = $this->db2.'.'.$this->vars->db['db2_tbl_nutricion_familias'];
# $this->tbl['nutricion_servicios'] = $this->db2.'.'.$this->vars->db['db2_tbl_nutricion_servicios'];
# $this->tbl['nutricion_valores_nutricionales'] = $this->db2.'.'.$this->vars->db['db2_tbl_nutricion_valores_nutricionales'];
# $this->tbl['ventas_clientes'] = $this->db2.'.'.$this->vars->db['db2_tbl_ventas_clientes'];
# $this->tbl['ventas_vendedores'] = $this->db2.'.'.$this->vars->db['db2_tbl_ventas_vendedores'];
# $this->tbl['vw_compras_orden_articulos'] = $this->db2.'.'.$this->vars->db['db2_vw_compras_orden_articulos'];
# $this->tbl['vw_compras_orden_proveedores'] = $this->db2.'.'.$this->vars->db['db2_vw_compras_orden_proveedores'];
# $this->tbl['vw_articulos'] = $this->db2.'.'.$this->vars->db['db2_vw_articulos'];
# $this->tbl['vw_proveedores_articulos'] = $this->db2.'.'.$this->vars->db['db2_vw_proveedores_articulos'];
# $this->tbl['compras_articulos_tipo'] = $this->db2.'.'.$this->vars->db['db2_tbl_compras_articulos_tipo'];
# $this->tbl['almacen_stock'] = $this->db2.'.'.$this->vars->db['db2_tbl_almacen_stock'];
# $this->tbl['almacen_stock_deleted'] = $this->db2.'.'.$this->vars->db['db2_tbl_almacen_stock_deleted'];
# $this->tbl['almacen_stock_estatus'] = $this->db2.'.'.$this->vars->db['db2_tbl_almacen_stock_estatus'];
# $this->tbl['almacen_stock_logs'] = $this->db2.'.'.$this->vars->db['db2_tbl_almacen_stock_logs'];
# $this->tbl['almacen_stock_logs_acciones'] = $this->db2.'.'.$this->vars->db['db2_tbl_almacen_stock_logs_acciones'];