#######################################################################
## ARCHIVO DE VARIABLES GENERALES DEL SISTEMA - EDITAR CON PRECAUCIÓN
##
## MODELO DE BASE DE DATOS
##
## TYPE|NAME=VALUE
## O3M
###

###################
### 00_av_system
###################
#DB
db|db1= 					00_av_system
#Tablas
db|db1_tbl_claves=			sys_claves
db|db1_tbl_empresas=		sys_empresas
db|db1_tbl_modulos=			sys_modulos
db|db1_tbl_paises=			sys_paises
db|db1_tbl_perfiles=		sys_perfiles
db|db1_tbl_personales=		sys_personales
db|db1_tbl_secciones=		sys_secciones
db|db1_tbl_submodulos=		sys_submodulos
db|db1_tbl_sucursales=		sys_sucursales
db|db1_tbl_usuarios=		sys_usuarios
db|db1_tbl_menu_n1=			sys_menu_n1
db|db1_tbl_menu_n2=			sys_menu_n2
db|db1_tbl_menu_n3=			sys_menu_n3

#Vistas
db|db1_vw_personal=			vw_personal

# Copy & Paste
# $this->db1 = $this->vars->db['db1'];
# $this->tbl['claves'] = $this->db1.'.'.$this->vars->db['db1_tbl_claves']; 
# $this->tbl['empresas'] = $this->db1.'.'.$this->vars->db['db1_tbl_empresas']; 
# $this->tbl['modulos'] = $this->db1.'.'.$this->vars->db['db1_tbl_modulos']; 
# $this->tbl['paises'] = $this->db1.'.'.$this->vars->db['db1_tbl_paises']; 
# $this->tbl['perfiles'] = $this->db1.'.'.$this->vars->db['db1_tbl_perfiles']; 
# $this->tbl['personales'] = $this->db1.'.'.$this->vars->db['db1_tbl_personales']; 
# $this->tbl['secciones'] = $this->db1.'.'.$this->vars->db['db1_tbl_secciones']; 
# $this->tbl['submodulos'] = $this->db1.'.'.$this->vars->db['db1_tbl_submodulos']; 
# $this->tbl['sucursales'] = $this->db1.'.'.$this->vars->db['db1_tbl_sucursales']; 
# $this->tbl['usuarios'] = $this->db1.'.'.$this->vars->db['db1_tbl_usuarios']; 
# $this->tbl['menu1'] = $this->db1.'.'.$this->vars->db['db1_tbl_menu_n1']; 
# $this->tbl['menu2'] = $this->db1.'.'.$this->vars->db['db1_tbl_menu_n2']; 
# $this->tbl['menu3'] = $this->db1.'.'.$this->vars->db['db1_tbl_menu_n3']; 
# $this->tbl['vw_personal'] = $this->db1.'.'.$this->vars->db['db1_vw_personal']; 

###################
### 00_av_mx
###################
#DB
db|db2=											00_av_mx
#Tablas
db|db2_tbl_administracion_areas=				av_administracion_areas
db|db2_tbl_administracion_creditos=				av_administracion_creditos
db|db2_tbl_administracion_descuentos=			av_administracion_descuentos
db|db2_tbl_administracion_entidad_region=		av_administracion_entidad_region
db|db2_tbl_administracion_entidades=			av_administracion_entidades
db|db2_tbl_administracion_forma_pago=			av_administracion_forma_pago
db|db2_tbl_administracion_impuestos=			av_administracion_impuestos
db|db2_tbl_administracion_movimientos=			av_administracion_movimientos
db|db2_tbl_administracion_puestos=				av_administracion_puestos
db|db2_tbl_administracion_regiones=				av_administracion_regiones
db|db2_tbl_administracion_servicios=			av_administracion_servicios
db|db2_tbl_administracion_variables=			av_administracion_variables
db|db2_tbl_almacen_almacenes=					av_almacen_almacenes
db|db2_tbl_almacen_entradas_recibir=			av_almacen_entradas_recibir
db|db2_tbl_almacen_entradas_partidas=			av_almacen_entradas_partidas
db|db2_tbl_almacen_gavetas=						av_almacen_gavetas
db|db2_tbl_almacen_pasillos=					av_almacen_pasillos
db|db2_tbl_almacen_tipos=						av_almacen_tipos
db|db2_tbl_almacen_transportes=					av_almacen_transportes
db|db2_tbl_compras_articulos=					av_compras_articulos
db|db2_tbl_compras_articulos_precios=			av_compras_articulos_precios
db|db2_tbl_compras_lineas=						av_compras_lineas
db|db2_tbl_compras_marcas=						av_compras_marcas
db|db2_tbl_compras_ordenes_tipo=				av_compras_orden_tipo
db|db2_tbl_compras_ordenes=						av_compras_ordenes
db|db2_tbl_compras_ordenes_articulos=			av_compras_ordenes_articulos
db|db2_tbl_compras_ordenes_estatus=				av_compras_ordenes_estatus
db|db2_tbl_compras_presentaciones=				av_compras_presentaciones
db|db2_tbl_compras_proveedores=					av_compras_proveedores
db|db2_tbl_compras_proveedores_articulos=		av_compras_proveedores_articulos
db|db2_tbl_compras_um=							av_compras_um
db|db2_tbl_nutricion_ciclos=		            av_nutricion_ciclos
db|db2_tbl_nutricion_familias=		            av_nutricion_familias
db|db2_tbl_nutricion_tiempos=		            av_nutricion_tiempos
db|db2_tbl_nutricion_valores_nutricionales=		av_nutricion_valores_nutricionales
db|db2_tbl_nutricion_recetas=		            av_nutricion_recetas
db|db2_tbl_nutricion_recetas_articulos=         av_nutricion_recetas_articulos
db|db2_tbl_compras_embalaje=					av_compras_embalaje
db|db2_tbl_ventas_clientes=						av_ventas_clientes
db|db2_tbl_ventas_vendedores=					av_ventas_vendedores
db|db2_tbl_compras_articulos_tipo=				av_compras_articulos_tipo

#Vistas
db|db2_vw_compras_orden_articulos=				vw_compras_ordenes_con_articulos
db|db2_vw_compras_orden_proveedores=			vw_compras_ordenes_con_proveedores
db|db2_vw_articulos=							vw_articulos
db|db2_vw_proveedores_articulos=				vw_proveedores_articulos

# Copy & Paste
# $this->db2 = $this->vars->db['db2'];
# $this->tbl['administracion_areas'] = $this->db2.'.'.$this->vars->db['db2_tbl_administracion_areas'];
# $this->tbl['administracion_creditos'] = $this->db2.'.'.$this->vars->db['db2_tbl_administracion_creditos'];
# $this->tbl['administracion_descuentos'] = $this->db2.'.'.$this->vars->db['db2_tbl_administracion_descuentos'];
# $this->tbl['administracion_entidad_region'] = $this->db2.'.'.$this->vars->db['db2_tbl_administracion_entidad_region'];
# $this->tbl['administracion_entidades'] = $this->db2.'.'.$this->vars->db['db2_tbl_administracion_entidades'];
# $this->tbl['administracion_forma_pago'] = $this->db2.'.'.$this->vars->db['db2_tbl_administracion_forma_pago'];
# $this->tbl['administracion_impuestos'] = $this->db2.'.'.$this->vars->db['db2_tbl_administracion_impuestos'];
# $this->tbl['administracion_puestos'] = $this->db2.'.'.$this->vars->db['db2_tbl_administracion_puestos'];
# $this->tbl['administracion_regiones'] = $this->db2.'.'.$this->vars->db['db2_tbl_administracion_regiones'];
# $this->tbl['administracion_variables'] = $this->db2.'.'.$this->vars->db['db2_tbl_administracion_variables'];
# $this->tbl['almacen_almacenes'] = $this->db2.'.'.$this->vars->db['db2_tbl_almacen_almacenes'];
# $this->tbl['almacen_entradas_recibir'] = $this->db2.'.'.$this->vars->db['db2_tbl_almacen_entradas_recibir'];
# $this->tbl['almacen_entradas_partidas'] = $this->db2.'.'.$this->vars->db['db2_tbl_almacen_entradas_partidas'];
# $this->tbl['almacen_gavetas'] = $this->db2.'.'.$this->vars->db['db2_tbl_almacen_gavetas'];
# $this->tbl['almacen_pasillos'] = $this->db2.'.'.$this->vars->db['db2_tbl_almacen_pasillos'];
# $this->tbl['almacen_tipos'] = $this->db2.'.'.$this->vars->db['db2_tbl_almacen_tipos'];
# $this->tbl['almacen_transportes'] = $this->db2.'.'.$this->vars->db['db2_tbl_almacen_transportes'];
# $this->tbl['compras_articulos'] = $this->db2.'.'.$this->vars->db['db2_tbl_compras_articulos'];
# $this->tbl['compras_articulos_precios'] = $this->db2.'.'.$this->vars->db['db2_tbl_compras_articulos_precios'];
# $this->tbl['compras_lineas'] = $this->db2.'.'.$this->vars->db['db2_tbl_compras_lineas'];
# $this->tbl['compras_marcas'] = $this->db2.'.'.$this->vars->db['db2_tbl_compras_marcas'];
# $this->tbl['compras_ordenes_tipo'] = $this->db2.'.'.$this->vars->db['db2_tbl_compras_ordenes_tipo'];
# $this->tbl['compras_ordenes'] = $this->db2.'.'.$this->vars->db['db2_tbl_compras_ordenes'];
# $this->tbl['compras_ordenes_articulos'] = $this->db2.'.'.$this->vars->db['db2_tbl_compras_ordenes_articulos'];
# $this->tbl['compras_ordenes_estatus'] = $this->db2.'.'.$this->vars->db['db2_tbl_compras_ordenes_estatus'];
# $this->tbl['compras_presentaciones'] = $this->db2.'.'.$this->vars->db['db2_tbl_compras_presentaciones'];
# $this->tbl['compras_proveedores'] = $this->db2.'.'.$this->vars->db['db2_tbl_compras_proveedores'];
# $this->tbl['compras_proveedores_articulos'] = $this->db2.'.'.$this->vars->db['db2_tbl_compras_proveedores_articulos'];
# $this->tbl['compras_um'] = $this->db2.'.'.$this->vars->db['db2_tbl_compras_um'];
# $this->tbl['compras_embalaje'] = $this->db2.'.'.$this->vars->db['db2_tbl_compras_embalaje'];
# $this->tbl['nutricion_familias'] = $this->db2.'.'.$this->vars->db['db2_tbl_nutricion_familias'];
# $this->tbl['nutricion_servicios'] = $this->db2.'.'.$this->vars->db['db2_tbl_nutricion_servicios'];
# $this->tbl['nutricion_valores_nutricionales'] = $this->db2.'.'.$this->vars->db['db2_tbl_nutricion_valores_nutricionales'];
# $this->tbl['ventas_clientes'] = $this->db2.'.'.$this->vars->db['db2_tbl_ventas_clientes'];
# $this->tbl['ventas_vendedores'] = $this->db2.'.'.$this->vars->db['db2_tbl_ventas_vendedores'];
# $this->tbl['vw_compras_orden_articulos'] = $this->db2.'.'.$this->vars->db['db2_vw_compras_orden_articulos'];
# $this->tbl['vw_compras_orden_proveedores'] = $this->db2.'.'.$this->vars->db['db2_vw_compras_orden_proveedores'];
# $this->tbl['vw_articulos'] = $this->db2.'.'.$this->vars->db['db2_vw_articulos'];
# $this->tbl['vw_proveedores_articulos'] = $this->db2.'.'.$this->vars->db['db2_vw_proveedores_articulos'];
# $this->tbl['compras_articulos_tipo'] = $this->db2.'.'.$this->vars->db['db2_tbl_compras_articulos_tipo'];