<div class="stdform ">
    <p>
        <label>{nombre_cliente}: (*)</label>
        <input id="nombre" type="text" name="nombre" class="input-large requerido" value="" />
    </p>
    <p>
        <label>{razon_social}: (*)</label>
        <input id="razon_social" type="text" name="razon_social" class="input-large requerido" value="" />
    </p>
    <p>
        <label>{clave_corta}: (*)</label>
        <input id="clave_corta" type="text" name="clave_corta" class="input-large requerido" value="" />
    </p>
    <p>
        <label>{rfc}: (*)</label>
        <input id="rfc" type="text" name="rfc" class="input-large requerido" value="" />
    </p>
    <p>
        <label>{calle}:</label>
        <input id="calle" type="text" name="calle" class="input-large" value="" />
    </p>
    <p>
        <label>{num_int}:</label>
        <input id="num_int" type="text" name="num_int" class="input-large" value="" />
    </p>
    <p>
        <label>{num_ext}:</label>
        <input id="num_ext" type="text" name="num_ext" class="input-large" value="" />
    </p>
    <p>
        <label>{colonia}:</label>
        <input id="colonia" type="text" name="colonia" class="input-large" value="" />
    </p>
    <p>
        <label>{municipio}:</label>
        <input id="municipio" type="text" name="municipio" class="input-large" value="" />
    </p>
    <p>
        <label>{entidad} (*)</label>
            {dropdown_entidad}
        </p>
    <p>
        <label>{cp}:</label>
        <input id="cp" type="text" name="cp" class="input-large" value="" />
    </p>
    <p>
        <label>{telefonos}:</label>
        <input id="telefonos" type="text" name="telefonos" class="input-large" value="" />
    </p>
    <p>
        <label>{email}:</label>
        <input id="email" type="text" name="email" class="input-large" value="" />
    </p>
    <div id="registro_loader"></div>
    <div id="mensajes" style="display:none"></div>    
    <p class="stdformbutton"> 
        {button_save}
        {button_reset}
    </p>
</div>