<div id="formulario" class="stdform stdform2">   
    <p>
        <label>{nombre_sucursal}: (*)</label>
        <span class="field"><input id="sucursal" type="text" name="sucursal" class="input-xlarge requerido" value="" /></span>
    </p>
    <p>
        <label>{cvl_corta}: (*)</label>
        <span class="field"><input id="clave_corta" type="text" name="clave_corta" class="input-xlarge requerido" value="" /></span>
    </p>
    <p>
        <label>{r_social}: (*)</label>
        <span class="field"><input id="razon_social" type="text" name="razon_social" class="input-xlarge requerido" value="" /></span>
    </p>
    <p>
        <label>{r_f_c}: (*)</label>
        <span class="field"><input id="rfc" type="text" name="rfc" class="input-xlarge requerido" value="" /></span>
    </p>
     <p>
        <label>{lbl_region}: (*)</label>
        <span class="field">{list_region}</span>
    </p> 
    <p>
        <label>{lbl_entidad}: (*)</label>
        <span class="field">{list_entidad}</span>
    </p>
    <p>
        <label>{lbl_email}:</label>
        <span class="field"><input id="email" type="email" name="email" class="input-xlarge requerido" value="" /></span>
    </p>
    <p>
        <label>{lbl_encargado}:</label>
        <span class="field"><input id="encargado" type="text" name="ecnargado" class="input-xlarge requerido" value="" /></span>
    </p>
    <p>
        <label>{tel}:</label>
        <span class="field"><input id="telefono" type="text" name="telefono" class="input-xlarge requerido" value="" /></span>
    </p>
    <p>
        <label>{direccion}: </label>
        <span class="field"><textarea id="direccion" name="direccion"  class="span5 " style="resize: vertical; height: 100px;"></textarea></span>
    </p>
    <div id="registro_loader" class="progress progress-striped" style="display:none;"></div>
    <div id="mensajes" style="display:none"></div>
    <p class="stdformbutton">
        {button_save}
        {button_reset}
    </p>
</div>