<div id="formulario" class="stdform">
    <div >
        <div style="float:left">
            <input id="id_sucursal" type="hidden" name="id_sucursal" value="{id_sucursal}" />
            <p>
                <label>{nombre_sucursal}: (*)</label>
                <input id="sucursal" type="text" name="sucursal" class="input-xlarge requerido" value="{sucursal}" />
            </p>
            <p>
                <label>{cvl_corta}: (*)</label>
                <input id="clave_corta" type="text" name="clave_corta" class="input-xlarge requerido" value="{clave_corta}" />
            </p>
            <p>
                <label>{r_social}: (*)</label>
                <input id="razon_social" type="text" name="razon_social" class="input-xlarge requerido" value="{razon_social}" />
            </p>
            <p>
                <label>{r_f_c}: (*)</label>
                <input id="rfc" type="text" name="rfc" class="input-xlarge requerido" value="{rfc}" />
            </p>
            <p>
                <label>{lbl_email}:</label>
                <input id="email" type="email" name="email" class="input-xlarge " value="{email}" />
            </p>
            <p>
                <label>{lbl_encargado}:</label>
                <input id="encargado" type="text" name="encargado" class="input-xlarge " value="{encargado}" />
            </p>
            <p>
                <label>{tel}:</label>
                <input id="telefono" type="text" name="telefono" class="input-xlarge " value="{telefono}" />
            </p>
        </div>
        
    </div>
    <div style="clear:both">
        <p>
            <label>{dir}:</label>
            <textarea id="direccion" name="direccion"  class="span5" style="resize: vertical; height: 100px;">{direccion}</textarea>
        </p>
        <p>
            <label>{lbl_fecha_registro}: </label>
            <span id="fecha_registro" type="text" data-campo="fecha_registro" class="input-xlarge uneditable-input" readonly >{val_fecha_registro} </span>
        </p>           
        <p>
            <label>{lbl_usuario_registro}: </label>
            <span id="usuario_regitro" type="text" data-campo="usuario_regitro" class="input-xlarge uneditable-input" readonly >{val_usuarios_registro}</span>
        </p>
        <p>
            <label>{lbl_ultima_modificacion}: </label>
            <textarea id="ultima_modificacion" class="span5 textareaUneditable" style="resize: vertical; height: 100px;" readonly  >{val_ultima_modificacion}</textarea>
        </p>
        <div id="update_loader"></div>
        <div id="mensajes_update" style="display:none"></div>
    <p class="stdformbutton">
        {button_save}
    </p>
    </div>
</div>