<div id="formulario" class="stdform stdform2">
    <p>
        <label>{nombre_cliente}: (*)</label>
        <span class="field"><input id="nombre" type="text" name="nombre" data-campo="nombre" class="input-large requerido"/></span>
    </p>
    <p>
        <label>{apellido_paterno}: (*)</label>
        <span class="field"><input id="paterno" type="text" name="paterno" data-campo="paterno" class="input-large requerido"/></span>
    </p>
    <p>
        <label>{apellido_materno}: (*)</label>
        <span class="field"><input id="materno" type="text" name="materno" data-campo="materno" class="input-large requerido"/></span>
    </p>
    <p>
        <label>{razon_social}: (*)</label>
        <span class="field"><input id="razon_social" type="text" name="razon_social" data-campo="razon_social" class="input-large requerido"/></span>
    </p>
    <p>
        <label>{clave_corta}: (*)</label>
        <span class="field"><input id="clave_corta" type="text" name="clave_corta" data-campo="clave_corta" class="input-large requerido"/></span>
    </p>
    <p>
        <label>{rfc}: (*)</label>
        <span class="field"><input id="rfc" type="text" name="rfc" data-campo="rfc" class="input-large requerido"/></span>
    </p>
    <p>
        <label>{calle}:</label>
        <span class="field"><input id="calle" type="text" name="calle" data-campo="calle" class="input-large"/></span>
    </p>
    <p>
        <label>{num_int}:</label>
        <span class="field"><input id="num_int" type="text" name="num_int" data-campo="num_int" class="input-large"/></span>
    </p>
    <p>
        <label>{num_ext}:</label>
        <span class="field"><input id="num_ext" type="text" name="num_ext" data-campo="num_ext" class="input-large"/></span>
    </p>
    <p>
        <label>{colonia}:</label>
        <span class="field"><input id="colonia" type="text" name="colonia" data-campo="colonia" class="input-large"/></span>
    </p>
    <p>
        <label>{municipio}:</label>
        <span class="field"><input id="municipio" type="text" name="municipio" data-campo="municipio" class="input-large"/></span>
    </p>
    <p>
        <label>{entidad} (*)</label>
            <span class="field">{dropdown_entidad}</span>
    </p>
    <p>
        <label>{sucursal} (*)</label>
           <span class="field"> {dropdown_sucursal}</span>
    </p>
    <p>
        <label>{lbl_punto_venta} (*)</label>
        <span class="field" id="list_punto_venta">
            {list_punto_venta}
        </span>
    </p>
    <p>
        <label>{cp}:</label>
        <span class="field"><input id="cp" type="text" name="cp" data-campo="cp" class="input-large" value="" /></span>
    </p>
    <p>
        <label>{telefonos}:</label>
        <span class="field"><input id="telefonos" type="text" name="telefonos" data-campo="telefonos" class="input-large numerico" value="" /></span>
    </p>
    <p>
        <label>{email}:</label>
        <span class="field"><input id="email" type="text" name="email" data-campo="email" class="input-large" value="" /></span>
    </p>
   <div id="registro_loader" class="progress progress-striped" style="display:none;"></div>
    <div id="mensajes" style="display:none"></div>
    <p class="stdformbutton"> 
        {button_save}
        {button_reset}
    </p>
</div>