<div id="formulario" class="stdform">
	<input type="hidden" id="id_region" name="id_region" value="{id_region}">
	<p>
		<label>{lbl_region} (*)</label>
		<input type="text" id="txt_region" name="txt_region" class="input-xlarge requerido" value="{txt_region}" /> 
	</p>
	<p>
		<label>{lbl_clave_corta} (*)</label>
		<input type="text" id="txt_clave_corta" name="txt_clave_corta" class="input-xlargue requerido" value="{txt_clave_corta}" />
	</p>
    <p>
        <label>{lbl_descripcion}: </label>
        <textarea id="txt_descripcion" name="txt_descripcion"  class="span5" style="resize: vertical; height: 100px;">{txt_descripcion}</textarea>
    </p>
	<p>
        <label>{lbl_entidades}: (*)</label>
        {list_entidad}
    </p>
	<p>
		<label>{lbl_fecha_registro}: </label>
        <span id="txt_fecha_registro" type="text" data-campo="txt_fecha_registro" class="input-xlarge uneditable-input" readonly >{val_fecha_registro} </span>
    </p>           
    <p>
    	<label>{lbl_usuario_registro}: </label>
        <span id="txt_usuario_regitro" type="text" data-campo="txt_usuario_regitro" class="input-xlarge uneditable-input" readonly >{val_usuarios_registro}</span>
    </p>
    <p>
    	<label>{lbl_ultima_modificacion}: </label>
        <textarea id="ultima_modificacion" class="span5 textareaUneditable" style="resize: vertical; height: 100px;" readonly  >{val_ultima_modificacion}</textarea>
    </p>
	<div id="update_loader"></div>
	<div id="mensajes_update" style="display:none"></div>
	<p class="stdformbutton">
		{button_save}
	</p>
</div>