<div id="formulario" class="stdform stdform2">
    <p>
        <label>{lbl_servicio}: (*)</label>
        <span class="field"><input id="txt_servicio" type="text" name="txt_servicio" class="input-xlarge requerido" value="" /></span>
    </p>
    <p>
        <label>{lbl_clave_corta}: (*)</label>
        <span class="field"><input id="txt_clave_corta" type="text" name="txt_clave_corta" class="input-xlarge requerido" value="" /></span>
    </p>
    <p>
        <label>{lbl_inicio}: (*)</label>
        <span class="field"><input type="text" id="timepicker1" name="timepicker1 time start" value="" class="gui-input"></span>
    </p>
    <p>
        <label>{lbl_final}: (*)</label>
        <span class="field"><input type="text" id="timepicker2" name="timepicker2 time end" value="" class="gui-input"></span>
    </p>
    <p>
        <label>{lbl_sucursal}: (*)</label>
        <span class="field">{list_sucursal}</span>
    </p>
    <p>
        <label>{lbl_descripcion}: </label>
        <span class="field"><textarea id="txt_descripcion" name="txt_descripcion"  class="span5" style="resize: vertical; height: 100px;"></textarea></span>
    </p>
        <div id="registro_loader"></div>
        <div id="mensajes" style="display:none"></div>
    <p class="stdformbutton">
        {button_save}
        {button_reset}
    </p>   
</div>