<div id="formulario" class="stdform">
	<div>
		<div style="float:left">
			<input type="hidden" id="id_entidad" name="id_entidad" value="{id_entidad}">
			<p>
				<label>{nombre_entidad} (*)</label>
				<input type="text" id="entidad" name="entidad" class="input-xlarge requerido" value="{entidad}" /> 
			</p>
			<p>
				<label>{cvl_corta} (*)</label>
				<input type="text" id="clave_corta" name="clave_corta" class="input-xlargue requerido" value="{clave_corta}" />
			</p>
			<p>
				<label>{abreviatura} (*)</label>
				<input type="text" id="abrev" name="abrev" class="input_xlarge requerido" value="{abrev}" />
			</p>
		</div>
	</div>

	<div style="clear:both">
		<p>
			<label>{lbl_fecha_registro}</label>
			<input type="text" id="fecha_registro" data-campo="fecha_registro" class="input-xlarge" readonly value="{val_fecha_registro}" />
		</p>
		<p>
			<label>{lbl_usuario_registro}</label>
			<input type="text" id="usuario_registro" data-campo="fecha_registro" class="input_xlarge" readonly value="{val_usuarios_registro}" />
		</p>
		<p>
			<label>{lbl_ultima_modificacion}</label>
			<textarea id="id_ultima-modificacion" class="span5" style="resize:vertical; height:100px;" readonly>{val_ultima_modificacion}</textarea>
		</p>
		<div id="update_loader"></div>
		<div id="mensajes_update" style="display:none"></div>
		<p class="stdformbutton">
			{button_save}
		</p>
	</div>
</div>