<div id="formulario" class="stdform stdform2">
	<p>
		<label>{nombre_entidad}: (*)</label>
		<span class="field"><input type="text" id="entidad" name="entidad" class="input-xlarge requerido" value="" /></span>
	</p>
	<p>
		<label>{cvl_corta}: (*)</label>
		<span class="field"><input type="text" id="clave_corta" name="clave_corta" class="input-xlarge requerido" value="" /></span>
	</p>
	<p>
		<label>{abreviatura}: (*)</label>
		<span class="field"><input type="text" id="abrev" name="abrev" class="input-xlarge requerido" value="" /></span>
	</p>
	<div id="registro_loader"></div>
    <div id="mensajes" style="display:none"></div>
    <p class="stdformbutton">
    	{button_save}
        {button_reset}
    </p>
</div>