<div id="formulario" class="stdform">
    <div >
        <div style="float:left">
            <p>
                <label>{lbl_no_orden_compra}: (*)</label>
                <input id="no_orden" type="text" name="no_orden" class="input-xlarge requerido"/>
            </p>
            <p>
                <label>{lbl_no_factura}: (*)</label>
                <input id="no_factura" type="text" name="no_factura" class="input-xlarge requerido"/>
            </p>
            <p>
                <label>{lbl_fecha_factura}: (*)</label>
                <input id="fecha_factura" type="text" name="fecha_factura" class="input-xlarge requerido"/>
            </p>
            <p>
                <label>{lbl_fecha_recepcion}: (*)</label>
                <input id="fecha_recepcion" type="text" name="fecha_recepcion" class="input-xlarge requerido"/>
            </p>
        </div>
        
    </div>
    <div style="clear:both">
    <div id="registro_loader"></div>
    <div id="mensajes" style="display:none"></div>
    <p class="stdformbutton">
        {button_save}
        {button_reset}
    </p>
    </div>
</div>