<div id="formulario" class="stdform">
<input id="id_compras_articulo_precios" type="hidden" name="id_compras_articulo_precios" value="{id_compras_articulo_precios}" />
    <p>
        <label>{articulo} (*)</label>
            {lts_articulos}
    </p>
    <p>
        <label>{proveedores} (*)</label>
            {lts_proveedores}
    </p>
    <p>
        <label>{marcas} (*)</label>
            {lts_marcas}
    </p>
    <p>
        <label>{presentaciones} (*)</label>
            {lts_presentaciones}
    </p>
    <p>
        <label>{embajale} (*)</label>
            {lts_embalaje}
    </p>
    <p>
        <label>{cantidad_presentacion_embalaje}: (*)</label>
        <span>{pre_emb}</span>
        <input id="cantidad_presentacion_embalaje" type="text" name="cantidad_presentacion_embalaje" class="input-small requerido" value="{val_cantidad_presentacion_embalaje}" />
    </p>
    <p>
        <label>{cantidad_um_presentacion}: (*)</label>
        <span>{pre_um}</span>
        <input id="cantidad_um_presentacion" type="text" name="cantidad_um_presentacion" class="input-small requerido" value="{val_cantidad_um_presentacion}" />
    </p>
    <p>
        <label>{precio_proveedor}: (*)</label>
        &nbsp;&nbsp;&nbsp;<span>$</span>
        <input id="precio_proveedor" type="text" name="precio_proveedor" class="input-small requerido" value="{val_precio_proveedor}" />
    </p>
    <p>
        <label>{impuesto_aplica}:</label>
        <input type="checkbox" id="impuesto_aplica" name="impuesto_aplica" onclick="muestra_impuesto()" {checked}>
    </p>
    <p>
        <div id="impuesto" {style} >
            <label>{impuesto_porcentaje}: (*)</label>
            {lts_impuesto}
        </div>
    </p>
    <p>
        <label>{lbl_fecha_registro}:</label>
        <span id="timestamp" type="text" name="timestamp" class="input-xlarge uneditable-input" >{timestamp}</span>
    </p>
    <p>
        <label>{registro_por}:</label>
        <span readonly id="usuario_registro" type="text" name="usuario_registro" class="input-xlarge  uneditable-input " >{usuario_registro}</span>
    </p>
    <p>
        <label>{lbl_ultima_modificacion}: </label>
        <textarea id="ultima_modificacion" class="span5 textareaUneditable" style="resize: vertical; height: 100px;" readonly  >{val_ultima_modificacion}</textarea>
    </p>
    <div id="registro_loader"></div>
    <div id="mensajes_update" style="display:none"></div>
     <p class="stdformbutton"> 
        {button_save}
    </p>
</div>