<div id="formulario" class="stdform">  
    <p>
        <label>{upc}: </label>
        <input id="upc" maxlength="13" type="text" name="upc" data-campo="upc" class="input-large requerido" onkeyup="validanumero('upc');"/>
    </p>
    <p>
        <label>{articulo} (*)</label>
            {lts_articulos}
    </p>
    <p>
        <label>{proveedores} (*)</label>
            {lts_proveedores}
    </p>
    <p>
        <label>{marcas} (*)</label>
            {lts_marcas}
    </p>
    <p>
        <label>{presentaciones} (*)</label>
            {lts_presentaciones}
    </p>
    <p>
        <label>{embalaje_aplica}:</label>
        <input type="checkbox" id="embalaje_aplica" name="embalaje_aplica" data-campo="embalaje_aplica" onclick="oculta_embalaje();" checked>
    </p>
    <p>
        <div id="embajale">
            <label>{embajale} (*)</label>
            {lts_embalaje}
        </div>
    </p>
    <p>
        <label>{presentacion_x_embalaje}: (*)</label>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input id="presentacion_x_embalaje" data-campo="presentacion_x_embalaje" type="text" name="presentacion_x_embalaje" class="input-small requerido numerico" onkeyup="clean_campos();" />
        <span id="pre_em" style="display:none">{pre_em}</span>
    </p>
    <p>
        <label>{um_x_embalaje}: (*)</label>
        <input id="radio_x_embalaje" type="radio" name="um" value="1" onclick="validar_um(this.value);" data-campo="um" checked="checked">
        <input id="um_x_embalaje" type="text" name="um_x_embalaje" data-campo="um_x_embalaje" class="input-small requerido numerico" onkeyup="calcula_um_prsentacion();"/>
        <span id="pre_um2" style="display:none">{pre_um}</span><span id="signo2" style="display:none"> * </span><span id="embalaje_cl" style="display:none">{embalaje_cl}</span>
    </p>
    <p>
        <label>{um_x_presentacion}: (*)</label>
        <input id="radio_x_presentacion" type="radio" name="um" data-campo="um" value="2" onclick="validar_um(this.value);">
        <input id="um_x_presentacion" data-campo="um_x_presentacion" type="text" name="um_x_presentacion" class="input-small requerido numerico" onkeyup="calcula_um_embalaje();" readonly />
        <span id="pre_um" style="display:none">{pre_um}</span><span id="signo" style="display:none"> * </span><span id="pre_em2" style="display:none">{pre_em}</span>
    </p>
    <p>
        <label>{costo_sin_impuesto}: (*)</label>
        &nbsp;&nbsp;<span>{moneda}</span>
        <input id="costo_sin_impuesto" type="text" name="costo_sin_impuesto" data-campo="costo_sin_impuesto" class="input-small requerido" onkeyup="calcula_costos();" />
    </p>
    <p>
        <label>{peso_unitario}: (*)</label>        
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input id="peso_unitario" type="text" name="peso_unitario" data-campo="peso_unitario" class="input-small requerido" readonly/>
        <span id="lbl_peso" style="display:none"></span>
    </p>
    <p>
        <label>{costo_unitario}: (*)</label>        
        &nbsp;&nbsp;<span>{moneda}</span><input id="costo_unitario" type="text" name="costo_unitario" data-campo="costo_unitario" class="input-small requerido" readonly/>
        <span id="lbl_unitario" style="display:none"></span>
    </p>
    <p>
        <label>{costo_x_um}: (*)</label>
        &nbsp;&nbsp;<span>{moneda}</span>
        <input id="costo_x_um" type="text" name="costo_x_um" data-campo="costo_x_um" class="input-small requerido" readonly/>
    </p>
    <p>
        <label>{impuesto_aplica}:</label>
        <input type="checkbox" id="impuesto_aplica" name="impuesto_aplica" data-campo="impuesto_aplica" onclick="oculta_impuesto()" checked>
    </p>
    <p>
        <div id="impuesto">
            <label>{impuesto_porcentaje}: (*)</label>
            {lts_impuesto}
        </div>
    </p>
    <p>
        <span id="desglose">
            <label>{desglose_impuesto}:</label>
            &nbsp;&nbsp;<span>{moneda}</span>
            <input id="desglose_impuesto" type="text" name="desglose_impuesto" data-campo="desglose_impuesto" class="input-small" readonly/>
        </span>
    </p>
    <p>
        <label>{costo_final}:</label>
        &nbsp;&nbsp;<span>{moneda}</span>
        <input id="costo_final" type="text" name="costo_final" data-campo="costo_final" class="input-small" readonly/>
    </p>
    <div id="registro_loader"></div>
    <div id="mensajes" style="display:none"></div>
     <p class="stdformbutton"> 
        {button_save}
        {button_reset}
    </p>
</div>