<div id="formulario" class="stdform">    
    <p>
        <label>{articulo} (*)</label>
            {lts_articulos}
    </p>
    <p>
        <label>{proveedores} (*)</label>
            {lts_proveedores}
    </p>
    <p>
        <label>{marcas} (*)</label>
            {lts_marcas}
    </p>
    <p>
        <label>{presentaciones} (*)</label>
            {lts_presentaciones}
    </p>
    <p>
        <label>{embalaje_aplica}:</label>
        <input type="checkbox" id="embalaje_aplica" name="embalaje_aplica" onclick="oculta_embalaje()" checked>
    </p>
    <p>
        <div id="embajale">
            <label>{embajale} (*)</label>
            {lts_embalaje}
        </div>
    </p>
    <p>
        <label>{presentacion_x_embalaje}: (*)</label>
        <span id="pre_em" style="display:none">{pre_em}</span>
        <input id="presentacion_x_embalaje" type="text" name="presentacion_x_embalaje" class="input-small requerido" value="" />
    </p>
    <p>
        <label>{um_x_embalaje}: (*)</label>
        <input id="um_x_embalaje" type="text" name="um_x_embalaje" class="input-small requerido" value="" />
    </p>
    <p>
        <label>{um_x_presentacion}: (*)</label>
        <span id="pre_um" style="display:none">{pre_um}</span>
        <input id="um_x_presentacion" type="text" name="um_x_presentacion" class="input-small requerido" value="" />
    </p>
    <p>
        <label>{costo_sin_impuesto}: (*)</label>
        &nbsp;&nbsp;&nbsp;<span>$</span>
        <input id="costo_sin_impuesto" type="text" name="costo_sin_impuesto" class="input-small requerido" value="" />
    </p>
    <p>
        <label>{peso_unitario}: (*)</label>        
        <input id="peso_unitario" type="text" name="peso_unitario" class="input-small requerido" value="" />
    </p>
    <p>
        <label>{costo_unitario}: (*)</label>        
        <input id="costo_unitario" type="text" name="costo_unitario" class="input-small requerido" value="" />
    </p>
    <p>
        <label>{cost_x_um}: (*)</label>
        <input id="cost_x_um" type="text" name="cost_x_um" class="input-small requerido" value="" />
    </p>
    <p>
        <label>{impuesto_aplica}:</label>
        <input type="checkbox" id="impuesto_aplica" name="impuesto_aplica" onclick="oculta_impuesto()" checked>
    </p>
    <p>
        <div id="impuesto">
            <label>{impuesto_porcentaje}: (*)</label>
            {lts_impuesto}
        </div>
    </p>
    <div id="registro_loader"></div>
    <div id="mensajes" style="display:none"></div>
     <p class="stdformbutton"> 
        {button_save}
        {button_reset}
    </p>
</div>