<div id="formulario" class="stdform stdform2">
    <input id="id_compras_articulo_precios" type="hidden" name="id_compras_articulo_precios" value="{id_compras_articulo_precios}" />
    <p>
        <label>{upc}: </label>
        <span class="field"><input id="upc" type="text" maxlength="13" name="upc" data-campo="upc" class="input-large requerido" value="{val_upc}" onkeyup="validanumero('upc');"/></span>
    </p>
    <p>
        <label>{sku}: </label>
        <span class="field"><input id="sku" type="text" name="sku" data-campo="sku" class="input-large requerido" value="{val_sku}" readonly/></span>
    </p>
    <p>
        <label>{articulo} (*)</label>
        <span class="field">{lts_articulos}</span>
    </p>
    <p>
        <label>{proveedores} (*)</label>
        <span class="field">{lts_proveedores}</span>
    </p>
    <p>
        <label>{marcas} (*)</label>
        <span class="field">{lts_marcas}</span>
    </p>
    <p>
        <label>{presentaciones} (*)</label>
        <span class="field">{lts_presentaciones}</span>
    </p>
    <p>
        <label>{embalaje_aplica}:</label>
        <span class="field"><input type="checkbox" id="embalaje_aplica" name="embalaje_aplica" onclick="oculta_embalaje();" {checked_em}></span>
    </p>
    <p>
        <div id="embajale" {style_em}>
            <label>{embajale} (*)</label>
                <span class="field">{lts_embalaje}</span>
        </div>
    </p>
    <p>
        <label>{presentacion_x_embalaje}: (*)</label>
        <span class="field">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input id="presentacion_x_embalaje" type="text" name="presentacion_x_embalaje" class="input-small requerido" onkeyup="clean_campos();"value="{val_presentacion_x_embalaje}" {readonly}/>
        <span id="pre_em">{pre_em}</span></span>
    </p>
    <p>
        <label>{um_x_embalaje}: (*)</label>
        <span class="field">
        <input type="radio" name="um" value="1" onclick="validar_um(this.value);"  checked="checked">
        <input id="um_x_embalaje" type="text" name="um_x_embalaje" class="input-small requerido" onkeyup="calcula_um_prsentacion();" value="{val_um_x_embalaje}"/>
        <span id="pre_um2">{pre_um}</span><span id="signo2"> * </span><span id="embalaje_cl">{embalaje_cl}</span></span>
    </p>
    <p>
        <label>{um_x_presentacion}: (*)</label>
        <span class="field">
        <input type="radio" name="um" value="2" onclick="validar_um(this.value);">
        <input id="um_x_presentacion" type="text" name="um_x_presentacion" class="input-small requerido" onkeyup="calcula_um_embalaje();" readonly value="{val_um_x_presentacion}"/>
        <span id="pre_um">{pre_um}</span><span id="signo"> * </span><span id="pre_em2">{pre_em}</span></span>
    </p>
    <p>
        <label>{costo_sin_impuesto}: (*)</label>
        <span class="field">
        &nbsp;&nbsp;<span>{moneda}</span>
        <input id="costo_sin_impuesto" type="text" name="costo_sin_impuesto" class="input-small requerido" onkeyup="calcula_costos();" value="{val_costo_sin_impuesto}"/></span>
    </p>
    <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label>{peso_unitario}: (*)</label>  
        <span class="field">      
        <input id="peso_unitario" type="text" name="peso_unitario" class="input-small requerido" value="{val_peso_unitario}" readonly/>
        <span id="lbl_unitario">{pre_um}</span></span>
    </p>
    <p>
        &nbsp;&nbsp;<span>{moneda}</span>
        <label>{costo_unitario}: (*)</label> 
        <span class="field">       
        <input id="costo_unitario" type="text" name="costo_unitario" class="input-small requerido" value="{val_costo_unitario}" readonly/>
        <span id="lbl_peso">1 {pre_um}</span></span>
    </p>
    <p>
        <label>{costo_x_um}: (*)</label>
        <span class="field">
        &nbsp;&nbsp;<span>{moneda}</span>
        <input id="costo_x_um" type="text" name="costo_x_um" class="input-small requerido" value="{val_costo_x_um}" readonly/></span>
   </p>
    <p>
        <label>{impuesto_aplica}:</label>
        <span class="field">
        <input type="checkbox" id="impuesto_aplica" name="impuesto_aplica" onclick="oculta_impuesto()" {checked}></span>
    </p>
    <p>
        <div id="impuesto" {style} >
            <label>{impuesto_porcentaje}: (*)</label>
            <span class="field">{lts_impuesto}</span>
        </div>
    </p>
    <p>
        <span id="desglose">
            <label>{desglose_impuesto}:</label>
            <span class="field">
            &nbsp;&nbsp;<span>{moneda}</span>
            <input id="desglose_impuesto" type="text" name="desglose_impuesto" data-campo="desglose_impuesto" class="input-small" readonly/>
        </span></span>
    </p>
    <p>
        <label>{costo_final}:</label>
        <span class="field">
        &nbsp;&nbsp;<span>{moneda}</span>
        <input id="costo_final" type="text" name="costo_final" data-campo="costo_final" class="input-small" readonly/></span>
    </p>
    <p>
        <label>{rendimiento}:</label>
        <span class="field">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input id="rendimiento" type="text" name="rendimiento" data-campo="rendimiento" class="input-small requerido" value="{val_rendimiento}"/>
        &nbsp;<span>%</span></span>
    </p>
    <p>
        <label>{lbl_fecha_registro}:</label>
        <span class="field">
        <span id="timestamp" type="text" name="timestamp" class="input-xlarge uneditable-input" >{timestamp}</span></span>
    </p>
    <p>
        <label>{registro_por}:</label>
        <span class="field">
        <span readonly id="usuario_registro" type="text" name="usuario_registro" class="input-xlarge  uneditable-input " >{usuario_registro}</span>
        </span>
    </p>
    <p>
        <label>{lbl_ultima_modificacion}: </label>
        <span class="field">
        <textarea id="ultima_modificacion" class="span5 textareaUneditable" style="resize: vertical; height: 100px;" readonly  >{val_ultima_modificacion}</textarea></span>
    </p>
    <div id="registro_loader"></div>
    <div id="mensajes_update" style="display:none"></div>
     <p class="stdformbutton"> 
        {button_save}
    </p>
</div>