<div id="formulario" class="stdform">    
    <p>
        <label>{articulo} (*)</label>
            {lts_articulos}
    </p>
    <p>
        <label>{proveedores} (*)</label>
            {lts_proveedores}
    </p>
    <p>
        <label>{marcas} (*)</label>
            {lts_marcas}
    </p>
    <p>
        <label>{presentaciones} (*)</label>
            {lts_presentaciones}
    </p>
    <p>
        <label>{embajale} (*)</label>
            {lts_embalaje}
    </p>
    <p>
        <label>{cantidad_presentacion_embalaje}: (*)</label>
        <input id="cantidad_presentacion_embalaje" type="text" name="cantidad_presentacion_embalaje" class="input-xlarge requerido" value="" />
    </p>
    <p>
        <label>{cantidad_um_presentacion}: (*)</label>
        <input id="cantidad_um_presentacion" type="text" name="cantidad_um_presentacion" class="input-xlarge requerido" value="" />
    </p>
    <p>
        <label>{precio_proveedor}: (*)</label>
        <input id="precio_proveedor" type="text" name="precio_proveedor" class="input-xlarge requerido" value="" />
    </p>
    <p>
        <label>{impuesto_aplica}:</label>
        <input type="checkbox" id="impuesto_aplica" name="impuesto_aplica" onclick="muestra_impuesto()">
    </p>
    <p>
        <div id="impuesto"  style="display:none" >
            <label>{impuesto_porcentaje}: (*)</label>
            {lts_impuesto}
        </div>
    </p>
    <div id="registro_loader"></div>
    <div id="mensajes" style="display:none"></div>
     <p class="stdformbutton"> 
        {button_save}
        {button_reset}
    </p>
</div>